//Font face
$font-name: "Droid Sans";
$font-path: 'https://fonts.gstatic.com/s/droidsans/v12/SlGVmQWMvZQIdix7AFxXkHNSbRYXags.woff2';
@font-face {
  font-family: "Droid Sans";
  src: url("https://fonts.gstatic.com/s/droidsans/v12/SlGVmQWMvZQIdix7AFxXkHNSbRYXags.woff2") format('woff2');
  font-weight: normal;
  font-style: normal; 
}
