footer {
  background-color: $red;
  color: $white;
  padding: 2rem;
  .footer-body {
    max-width: $max-width;
    margin: auto;
    a {
      color: $white;
    }
    .links-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include bp-large {
        display: block;
      }
      .footer-col {
        &.left {
          display: flex;
          align-items: center;
          padding-right: 1rem;
          @include bp-large {
            display: block;
            text-align: center;
            padding-right: 0;
          }
          .logo-link {
            margin-right: 2rem;
            @include bp-large {
              margin-right: 0;
              margin-bottom: 1rem;
            }  
            .logo {
              max-height: 100px;
              width: auto;
            }
          }
          .footer-links {
            display: flex;
            flex-flow: row wrap;  
            @include bp-large {
              flex-direction: column;
            }
            .footer-link {
              &:not(:last-child) {
                margin-right: 1rem;
                @include bp-large {
                  margin-right: 0;
                  margin-bottom: 1rem;
                }  
              }
            }
  
          }
          
        }
        &.right {
          
          .social-links {
            margin-bottom: 1rem;
            @include bp-large {
              margin-top: 1rem;
              text-align: center;
            }
            .social-link {
              font-size: 30px;
              &:not(:last-child) {
                margin-right: 1rem;
              }
            }
            
          }
          
        }
      } 
    }
    .info-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @include bp-large {
        flex-direction: column-reverse;
        align-items: center;
      }
      .info {
        @include bp-large {
          margin-top: 1rem;
        }  
        .copyright {
          font-weight: bold;
          margin-right: 1rem;
        }
      }
      .email-signup {
        
        .signup-form {
          
          .form-error,.form-success {
            display: none;
          }
          .form-error {
            max-width: 300px;
            margin: 0 0 0 auto;
            text-align: right;
          }
          .form-body {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            @include bp-large {
              justify-content:center ;
            }  
            .form-title {
              width: 100%;
              margin-bottom: 0.5rem;
              text-align: right;
              @include bp-large {
                text-align: center;
              }
            }
            .form-field {
              input {
                padding: 0.5rem;
                height: 39px;
              }
            }
            .form-submit {
              button {
                border-color: $white;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    
  }
}
