//Color Variables
$black: #202020;
$white: #fff;
$red: #AE0D29;
$red2: #cd0007;
$lt-grey: #f0f1f1;
$grey1: #b7bdbe;
$grey2: #575757;
$grey3: #3e3e3e;
//Theme colors
$text_color: $black;
$primary_color: $red;
$secondary_color: $white;
//Mobile Breakpoints
$size-x-large: 1280px;
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//sizes
$max-width: $size-x-large;
$nav-height: 116px;
//Transition
$transition_duration: .5s;
//Fonts
$header-font: 'Oswald', sans-serif;
$body-font: 'Noto Sans', sans-serif;
//other
$border-radius: 4px;