//Color Variables
$black: #000;
$white: #fff;
$red: #AE0D29;
//Theme colors
$text_color: $black;
$primary_color: $red;
$secondary_color: $white;
//Mobile Breakpoints
$size-x-large: 1280px;
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//sizes
$max-width: $size-x-large;
$nav-height: 116px;
//Transition
$transition_duration: .5s;
//Fonts
$header-font: 'Oswald', sans-serif;
$body-font: 'Noto Sans', sans-serif;