@import "vars.scss";
@import "mixins.scss";
#board-section {
  .board-intro {
    text-align: center;
    max-width: $size-large;
    margin: 0 auto 2rem;
  }
  .board-info {
    margin-bottom: 2rem;
  }
  .board-members {
    .members-title {
      text-align: center;
    }
    .members-list {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      background-color: $lt-grey;
      .member-col {
        width: 33.3333%;
        text-align: center;
        padding: 1rem;
        @include bp-large {
          width: 50%;
        }
        @include bp-medium {
          width: 100%;
        }
        .member {
          background-color: $white;
          
          padding: 1rem;
          border-radius: $border-radius;
          @include box-shadow;
          .member-image {
            height: 175px;
            width: 175px;
            overflow: hidden;
            border-radius: 50%;
            margin: auto;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          .member-name {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
#minutes-section {
  .inner-section {
    max-width: $size-large;
  }
  .section-title {
    text-align: center;
  }
  .seasons-list {
    max-width: $size-small;
    .season {
      border-bottom: 2px solid $lt-grey;
      padding: 0.5rem 0; 
      .season-title {
        color: $black;
        h4 {
          margin-bottom: 0;
        }
        i {
          color: $red;
          @include transition(transform);
        }
        &.active {
          i {
            transform: rotate(180deg);
          }
        }
      }
      .minutes-list {
        display: none;
        .minute {
          margin: 1rem 0;
        }
      }
    } 
  }
}
#elections-section {
  .inner-section {
    max-width: $size-large;
  }
  .section-title {
    text-align: center; 
  }
  .elections-intro {
    text-align: center;
    
    margin: 0 auto 1rem;
  }
  .positions-list {
    .position {
      .position-candidates {
        .candidate-list {
          display: flex;
          background-color: $lt-grey;
          justify-content: center;
          flex-flow: row wrap;
          .candidate-col {
            width: 25%;
            padding: 1rem;
            @include bp-medium {
              width: 50%;
            }
            @include bp-small {
              width: 100%;
            }
            .candidate {
              background-color: $white;
              padding: 1rem;
              border-radius: $border-radius;
              @include box-shadow;
              text-align: center;
              .candidate-name {
                
              }
              .candidate-image {
                background-color: $lt-grey;
                height: 150px;
                width: 150px;
                margin: 0 auto 1rem;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                .image {
                  object-fit: cover;
                  height: 100%;
                  width: 100%;
                  object-position: center;
                  
                }
                .image-placeholder {
                  position: absolute;
                  
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                  i {
                    color: $grey1;
                    font-size: 90px;
                    line-height: normal;
                  }
                }
              }
              .statement-overlay {
                position: fixed;
                height: 100%;
                width: 100%;
                background-color: rgba($black,0.95);
                top: 0;
                left: 0;
                padding: 2rem;
                @include transition(transform);
                transform: translateY(-100%);
                z-index: -1;
                overflow-y: scroll;
                //active
                &.active {
                  z-index: 10;
                  transform: translateY(0%);
                }
                
                
                .candidate-statement {
                  margin: auto;
                  max-width: $size-small;
                  text-align: right;
                  .close-statement-overlay {
                    color: $white;
                    font-size: 2rem;
                    display: inline-block; 
                    &:hover {
                      cursor: pointer;
                    }
                  }
                  .statement-content {
                    text-align: center;
                    background-color: $white;
                    border-radius: $border-radius;
                    padding: 1rem;
                    .statement-text {
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }
}