@import "vars.scss";
@import "mixins.scss";
#home {
  #hero {
    padding: 0;
    .hero-grid {
      display: flex;
      position: relative;
      flex-flow: row wrap;
    }
    .image-col {
      width: 66.6667%;
    } 
    #photo-slider {
      // position: absolute;
      // width: 100%;
      // height: 100%;
      // top: 0;
      // left: 0;
      // z-index: -1;
      
      .slick-arrow {
        display: none !important;
      }
      .photo-slide {
        position: relative;
        height: 600px;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          
        }
      }
    }
    .text-col {
      width: 33.3333%;
      background-color: $grey2;
      padding: 2rem;
      color: $white;
    }
    
  }
}