@import "vars.scss";
@import "mixins.scss";
#home {
  #play-options {
    .section-title {
      text-align: center;
    }
    .options-list {
      .option {
        &:not(:last-child) {
          margin-bottom: 4rem;
        }
        .option-grid {
          display: flex;
          @include bp-medium {
            flex-direction: column;
          }
          &.even {
            flex-direction: row-reverse;
            @include bp-medium {
              flex-direction: column;
            }
          }
          .option-col {
            &.image-col {
              flex: 1 0 40%;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                @include bp-medium {
                  max-height: 200px;
                }  
              }
            }
            &.text-col {
              flex: 1 0 60%;
              background-color: $lt-grey;
              padding: 2rem;
            }
          }
        }
      }
    }
  }
  #news-events-section {
    .inner-section {
      h2 {
        text-align: center;
      }
    }
    .news-block {
      .news-feed {
        background-color: $lt-grey;
        padding: 1rem;
        .slick-track{
          display: flex !important;
        }
        .slick-slide {
          height: inherit !important;
        }
        .news-block {
          padding: 1rem;
          .post {
            padding: 1rem;
            background-color: $white;
            border-radius: 4px;
            @include box-shadow;
            height: 100%;
            .post-title {
              margin-bottom: 0;
            }
            .post-date {
              color: $grey3;
            }
          }
        }
      }
      .btn-row {
        text-align: center;
        margin-top: 1rem;
      }
    }
    .event-block {
      .events-feed {
        background-color: $lt-grey;
        padding: 1rem;
        .event-slide {
          padding: 1rem;
          .event {
            border-radius: 4px;
            background-color: $white;
            @include box-shadow;
            display: table;
            
            overflow: hidden;
            .date-col {

              height: 100%;
              text-align: center;
              padding: 1rem;
              background-color: $red;
              display: table-cell;
              vertical-align: middle;
              .event-date {
                color: $white;
                margin: 0;
                
              }
            }
            .info-col {
              padding: 1rem;
              height: 100%;
              display: table-cell;
              .event-title,.event-time {
                margin: 0;
              }
              .event-desc {
                margin: 0.5rem 0;
              }
            }
          }
        }
      }
      .btn-row {
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}