@import "vars.scss";
@import "mixins.scss";
#home {
  #hero {
    padding: 0;
    .hero-grid {
      display: flex;
      position: relative;
      flex-flow: row wrap;
      max-height: 100vh;
      @include bp-large {
        display: block;
        padding: 2rem 1rem;
      }
      .image-col {
        width: 66.6667%;
        position: relative;
        @include bp-large {
          width: 100%;
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
        }
        .mobile-hero-title {
          display: none;
          @include bp-large {
            display: block;
            background-color: $grey2;
            color: $white;
            margin: 0;
            text-align: center;
            padding: 2rem;
          }  
        }
        @include bp-x-large {
          width: 60%;
        }
        @include bp-large {
          width: 100%;
        }
        #photo-slider {
          
          height: 100%;
          
          div {
            height: 100%; 
            width: 100%; 
          }
          .slick-arrow {
            display: none !important;
          }
          .photo-slide {
            img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }
        }
      } 
      .text-col {
        width: 33.3333%;
        background-color: $grey3;
        padding: 2rem;
        color: $white;
        display: flex;
        align-items: center;
        @include bp-x-large {
          width: 40%;
        }
        @include bp-large {
          width: 100%;
          text-align: center;
          background-color: rgba($grey3,0.8);
          padding: 1rem;
        }
      }
    }
  }
  #news-events-section {
    
    .inner-section {
      
    }
    .news-block {
      
      .news-feed {
        .slick-track{
          display: flex !important;
        }
        .slick-slide {
          height: inherit !important;
        }
        .news-block {
          padding: 1rem;
          .post {
            padding: 1rem;
            background-color: $white;
            border-radius: 4px;
            @include box-shadow;
            height: 100%;
          }
        }
      }
      .btn-row {
        text-align: center;
        margin-top: 1rem;
      }
    }
    .event-block {
      .events-feed {
        .event-slide {
          padding: 1rem;
          .event {
            border-radius: 4px;
            background-color: $white;
            @include box-shadow;
            display: table;
            
            overflow: hidden;
            .date-col {

              height: 100%;
              text-align: center;
              padding: 1rem;
              background-color: $red;
              display: table-cell;
              vertical-align: middle;
              .event-date {
                color: $white;
                margin: 0;
                
              }
            }
            .info-col {
              padding: 1rem;
              height: 100%;
              display: table-cell;
              .event-title,.event-time {
                margin: 0;
              }
            }
          }
        }
      }
      .btn-row {
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}