@import "vars.scss";
@import "mixins.scss";
#playoff-page {
  #title-section {
    text-align: center;
    padding-bottom: 0;
    .champ-block {
      margin-top: 2rem;;
      .champ-icon {
        font-size: 3rem;
        
      }
      .champ-name {
        margin-bottom: 0;
      }
    }
  }
  .rounds-list {
    .round {
      margin-bottom: 1rem;
      .round-title {
        margin-bottom: 0;
      }
      .divisions-grid {
        display: flex;
        max-width: $size-large;
        flex-flow: row wrap;
        @include bp-medium {
          display: block;   
        }
        .division {
          flex: 1 0 50%;
          padding: 0.5rem 1rem;
          
          .games-list {
            .game {
              display: flex;
              align-items: center;
              background-color: $white;
              overflow: hidden;
              border-radius: $border-radius;
              max-width: 350px;
              @include box-shadow;
              &:not(:last-child) {
                margin-bottom: 1rem;
              }
              .info-col {
                background-color: $red;
                color: $white;
                padding: 0.5rem 1rem;
                text-align: center;
                a {
                  color: $white;
                  font-weight: 400;
                }
                .game-date,.game-time,.game-location {
                  margin: 0;
                }
              }
              .scores-col {
                padding: 0 0.5rem;
                flex: 1;
                .team-score {
                  display: flex;
                  justify-content: space-between;
                  &:first-child {
                    margin-bottom: 1rem;
                  }
                  &.winner {
                    .team, .score  {
                      font-weight: 700;
                      a {
                        font-weight: 700; 
                      }
                    }
                  }
                  .team {
                    
                  }
                  .score {
                    padding-left: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#playoff-lp {
  #playoff-intro {
    text-align: center;
  }
  #results-section {
    .playoffs-list {
      background-color: $lt-grey;
      padding: 1rem;
      display: flex;
      justify-content: center;
      .playoff-block {
        padding: 1rem;
        width: 25%;
        
        @include bp-large {
          width: 33.3333%;
        }
        @include bp-medium {
          width: 50%;
        }
        @include bp-small {
          width: 100%;
        }
        .playoff {
          height: 100%;
          background-color: $white;
          text-align: center;
          padding: 1rem;
          border-radius: $border-radius;
          @include box-shadow;

        }
      }
    }
  }
}