@import "vars.scss";
@import "mixins.scss";
#playoff-page {
  .rounds-list {
    .round {
      margin-bottom: 1rem;
      .round-title {
        margin-bottom: 0;
      }
      .divisions-grid {
        display: flex;
        max-width: $size-large;
        .division {
          flex: 1 0 50%;
          padding: 0.5rem 1rem;
          
          .games-list {
            
            
            
            .game {
              display: flex;
              align-items: center;
              background-color: $white;
              overflow: hidden;
              border-radius: $border-radius;
              max-width: 350px;
              @include box-shadow;
              .info-col {
                background-color: $red;
                color: $white;
                padding: 0.5rem 1rem;
                text-align: center;
                a {
                  color: $white;
                  font-weight: 400;
                }
                .game-date,.game-time,.game-location {
                  margin: 0;
                }
              }
              .scores-col {
                padding: 0 0.5rem;
                flex: 1 0 auto;
                .team-score {
                  display: flex;
                  justify-content: space-between;
                  &:first-child {
                    margin-bottom: 1rem;
                  }
                  &.winner {
                    .team, .score  {
                      font-weight: 700;
                      a {
                        font-weight: 700; 
                      }
                    }
                  }
                  .team {
                    a {
                      font-weight: 400;
                      color: $black;
                    }
                  }
                  .score {
                    padding-left: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}