@import "vars.scss";
@import "mixins.scss";
#power-rankings {
  #post-section {
    .inner-section {
      max-width: $size-large;
    }
    .page-title,.post-title {
      text-align: center;
    }
    
    .post-content {
      margin-top: 1rem;
    }
    .post-author {
      text-align: center;
    }
    .ranking-list {
      margin: 1rem auto 0;
      max-width: $size-small;
      .ranking {
        padding: 1rem 0;
        border-bottom: 2px solid $lt-grey;
        .rank {
          background-color: $black;
          color: $white;
          
          padding: 0 10px; 
        }
        .text {
          img {
            margin: 0;
          }
        }
      }
    }
    .posts-nav {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .nav-item {
        &.next {
          text-align: right;
          justify-self:end;
          margin-left: auto;
        }
      }
    }
  }
}
