@import "vars.scss";
@import "mixins.scss";
#rules-page {
  #rules-section {
    .inner-section {
      display: flex;
      @include bp-large{
        display: block;
      }
    }
    .intro-text {
      max-width: $size-large;
    }
    .rules-list {
      
      max-width: $size-large;
      .rule {
        border-bottom: 2px solid $lt-grey;
        padding: 1rem 0;
        &.active {
          .rule-title {
            .rule-toggle {
              transform: rotate(180deg);
            }
          }
        }
        .rule-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .title-text {
            margin: 0;
            padding-right: 0.5rem;
          }
          .rule-toggle {
            font-size: 1.5rem;
            
            transform-origin: center;
            @include transition(transform);
          }
        }
        .rule-text {
          display: none;
        }
      }
    }
  }
  .resource-col {
    
    padding-left: 2rem;
    @include bp-large {
      padding-left: 0;
      padding-top: 2rem;
      max-width: $size-small;
    }
    .resource-content {
      background-color: $lt-grey;
      padding: 1rem;
    }
    .resource-list {
      max-width: $size-small;
      .resource {
        margin-bottom: 2rem;
        background-color: $white;
        border-radius: $border-radius;
        padding: 1rem;
        @include box-shadow;
        .btn {
          margin-top: 0.5rem;
        }
      }
    }
  }
}