@import "vars.scss";
@import "mixins.scss";
#rules-page {
  #rules-section {
    .rules-list {
      
      max-width: $size-large;
      .rule {
        border-bottom: 2px solid $lt-grey;
        padding: 1rem 0;
        &.active {
          .rule-title {
            .rule-toggle {
              transform: rotate(180deg);
            }
          }
        }
        .rule-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .title-text {
            margin: 0;
            padding-right: 0.5rem;
          }
          .rule-toggle {
            font-size: 1.5rem;
            
            transform-origin: center;
            @include transition(transform);
          }
        }
        .rule-text {
          display: none;
        }
      }
    }
  }
}