@import "vars.scss";
@import "mixins.scss";
#schedule {
  #games-section {
    h1 {
      text-align: center;
    }
    .schedule-grid {
      display: flex;
      @include bp-medium {
        display: block;
      }
      .games-col {
        flex: 1 0 75%;
        padding-right: 1rem;
        .weeks-list {
          .week-title {
            margin-bottom: 0;
          }
        }
        .games-list {
          .game {
            padding: 2rem 0;
            border-bottom: 2px solid $lt-grey;
            .game-content {
              display: flex;
              text-align: center;
              align-items: center;
              justify-content: space-between;
              @include bp-small {
                flex-flow: row wrap;
              }
              .team {
                flex: 1 0 40%;
                @include bp-small {
                  flex: 1 0 50%;
                  &:first-child {
                    border-right: 2px solid $lt-grey;
                  }
                }
                a {
                  font-weight: normal;
                }
                
              }
              .date-location {
                flex: 1 0 20%;
                padding: 0 1rem;
                font-weight: 700;
                @include bp-small {
                  order: 3;
                  flex: 1 0 auto;
                  padding-top: 1rem;
                } 
              }
            }
          }
        }
      }
      .menu-col {
        background-color: $lt-grey;
        padding: 1rem;
        .menu-content {
          background-color: $white;
          padding: 1rem;
          @include box-shadow;
          border-radius: $border-radius;
          .weeks-list {
            .week {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
    
  }
}