@import "vars.scss";
@import "mixins.scss";
#scoreboard {
  #scores-section {
    .inner-section {
      display: flex;
      @include bp-medium {
        display: block;
      }
      h2 {
        margin-bottom: 0;
      }
    }
    .upcoming-games {
      flex: 1 0 75%;

      .games-list {
        .game {
          text-align: center;
          padding: 2rem;
          
          border-bottom: 2px solid $lt-grey;
          
          .teams {
            .matchup {
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 1rem;
              .team-score {
                
                
                flex: 1 0 40%;
                .team {
                  margin: 0;
                  padding-right: 0.5rem;
                  a {
                    color: $black;
                    font-weight: 400;
                  }
                }
                .score {
                  margin: 0;
                  line-height: 1;
                  padding: 5px;
                  display: inline-block;
                  &.winner {
                    background-color: $red;
                    color: $white;
                    
                    
                  }
                }
              }
              .versus {
                padding: 0 1rem;
                flex: 1 0 20%;
                font-weight: bold;
              }
            }
          }
          .highlights {
            h5 {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
    .games-archive {
      padding: 1rem 1rem 1rem 2rem;
      .rankings {

        h3,h4 {
          margin-bottom: 0;
        }
        .conference {
          margin-bottom: 1rem;
        }
        .team {
          display: flex;
          justify-content: space-between;
          padding: 1rem 0;
          border-bottom: 2px solid $lt-grey;
          .team-name {
            padding-right: 1rem;
            font-weight: 700;
          }
        }
      }
      .seasons {
        h3 {
          margin-bottom: 0;
        }
        .season {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          
          .season-title {
            margin: 0;
          }
        }
      }
    }
  }
}