@import "vars.scss";
@import "mixins.scss";
#teams-page {
  .divisions-list {
    
    .division {
      
      &:not(:last-child) {
        
      }
      .teams-list {
        display: flex;
        flex-flow: row wrap;
        .team-col {
          flex: 1 0 25%;
          padding: 0.5rem;
          @include bp-large {
            flex: 1 0 50%;
          }
          @include bp-medium {
            flex: 1 0 100%;
          }
          .team-link {
            color: $white;
            border-radius: $border-radius;
            overflow: hidden;
            @include box-shadow;
            width: 100%;
            &:hover {
              .team-name {
                background-color: $white;
                color: $red;
              }
            }
            .team-image {
              background-color: $lt-grey;
              .team-image-src {
                height: 200px;
                width: 100%;
                object-fit: cover;
                object-position: center top;
              }
              .no-photo {
                height: 200px;
                padding: 1rem;
              }
            }
            .team-name {
              background-color: $red;
              text-align: center;
              padding: 1rem;
              @include transition(background-color,color);
              h4 {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}