---
title: Awards
permalink: "/awards/"
content-id: awards-page
scripts:
- awards
css: awards
hero:
  title: Awards
  text: These honors are awarded at the end of each football season to the players
    that best demonstrate those qualities of the award.
  button:
    text: Vote now
    link: "#"
    visible: false
awards:
- title: Charlie Salem Award
  text: The Charlie Salem Award is the League’s highest honor. The Charlie Salem Award
    is given to the person who has impacted the success and perpetuity of the league,
    has demonstrated strong commitment to his/her team, and has embodied the attributes
    of a good sport. This person has also played the game skillfully and is a leader
    both on and off the field. Nominees will be suggested by the Captains.
  winners:
  - name: Scott Graham
    year: "2021"
  - name: Joe Heron
    year: "2019"
  - name: Brian Hotchkiss
    year: "2018"
  - name: Samuel Brown
    year: "2017"
  - name: Steve Gong
    year: "2016"
  - name: Sam Smallwood and Sean Wilkerson
    year: "2015"
  - name: Barry Mauck
    year: "2014"
  - name: Sean Bartel
    year: "2013"
  - name: Chris Cormier
    year: "2012"
  - name: Brandon Waggoner
    year: "2011"
  - name: JJ Johnson
    year: "2010"
- title: John Boyd Ally Award
  text: Boyd was an incredible ally to the community. Though he didn’t identify as
    LGBTQ+, he lifted our community up through his actions, leading on and off the
    field, and demonstrating all the best qualities of allyship. His big smile and
    bigger heart never failed to elevate and uplift his teammates in competitive camaraderie
    and fast friendship.  This award is seasonally given to the player who best represents
    the qualities of an ally.
  winners:
  - name: Andrew Gordon
    year: Spring 2022
  - name: Matt and Sam Cline
    year: Fall 2021
- title: Michael “Snowy” Snowden Sportsmanship Award
  text: Snowy demonstrated all the best qualities of a team player, on and off the
    field.  He was a genuine joy to have on your team; he went out of his way to provide
    positive support to and be inclusive of not just his own team members, but everyone
    in the league whose path crossed his.  This award is seasonally given to the player
    who best represent these qualities of sportsmanship.
  winners:
  - name: ''
    year: ''

---
<section id="awards-section">
  <div class="inner-section">
    <div class="awards-intro">
      <h2 class="intro-title">{{ page.hero.title }}</h2>
      <div class="awards-text">{{ page.hero.text | markdownify }}</div>
      <a href="{{ page.hero.button.link}}" class="btn {% if page.hero.button.visible == false %}hidden{% endif %}">{{ page.hero.button.text }}</a>
    </div>
    <div class="awards-list">
      {% for award in page.awards %}
      <div class="award">
        <h3 class="award-title">{{ award.title }}</h3>
        <div class="award-text">
          {{ award.text | markdownify }}
        </div>
        {% if award.winners.size > 0 and award.winners[0].name.size > 0 %}
        <div class="award-winners">
          <a class="winners-title" href='#'><h4>Past Recipients&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></h4></a>
          <div class="winners-list">
            {% for winner in award.winners %}
            <div class="winner">
              <span class="winner-year">{{ winner.year }}</span> - <span class="winner-name">{{ winner.name }}</span>
            </div>
              
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>