---
title: Board
permalink: "/board/"
css: board
content-id: board-page
scripts:
- board
hero:
  title: The Board
  text: |-
    The seven board positions are listed below. Terms are 1 year long, with staggered election cycles between Fall and Spring seasons.  Commissioner, Communications, and At-Large are selected in summer; Treasurer, Social, Players, and Operations are selected in winter.

    The DCGFFL Board works hard to bring you competitive flag football, fun social events, and a great community experience!  We need dedicated volunteers to lead and keep that experience going for future seasons.  Click below to learn about how to volunteer on the Board.
  button:
    text: Elections
    link: "#elections-section"
    visible: false
members:
  title: Meet the Board
  list:
  - title: Commissioner
    name: Logan Dawson
    image: "/img/108219dc-ed9c-4e5a-8b8a-82bb41c3424d.jpeg"
    description: |-
      The Commissioner is the Chair of the League, responsible for overseeing generally the League’s operations.

      They communicate with Board members on their goals, timelines, and budgets, and lead regular Board meetings to ensure the needs of the DCGFFL are consistently addressed.  They communicate with league membership, and provide updates to the Board members on the state of the league.

      They organize elections for the Commissioner and Board members.  They work closely with each Director to ensure strategic goals are set and budgets are created annually that comport with the goals and missions of the DCGFFL.
    candidates: []
  - title: Director of Players
    name: Kevin Comerford
    image: "/img/comerford.jpeg"
    description: |-
      The Director of Players is the vice-Chair of the League and serves as the liaison between players and the DCGFFL Board.

      They are responsible for handling player recruitment, registration, new player workshops, tryouts, and discipline.

      Previous Directors of Players have also helped run the Recreation League and have fulfilled various other tasks as needed.
    candidates:
    - name: Fernando Herrera
      image: "/img/fab07bc3-ebb3-40d0-a051-04c2daf62d31.jpeg"
      statement: I'm interested in the Director of Players position because I think
        it could be rewarding for both the individual whose lucky to be in this position
        and for the league. I see this position as having the ability to recruit and
        bring up the future of the league. To accomplish this, we would need to continue
        with our successful recruiting events and use new recruitment techniques.
        I also believe being the liaison between the players and the Board is a rewarding
        opportunity that I would enjoy performing, even during difficult situations.
        I would enjoy it because I love meeting and talking to new people in our league.
        It basically would be another Sunday for me. When it comes to Rec League,
        this is another rewarding opportunity I would love to be involved with in
        whatever capacity it may be (leading or supporting). I would love to help
        improve it and interact with the players enjoying these Friday nights. I hope
        to be selected as your next Director of Players. Thank you for reading.
    - name: Paul Whitney
      image: "/img/4827aa90-fe3c-452d-8e35-7a1cda933ec7.jpeg"
      statement: "I came to DCGFFL in the Fall of 2021 looking for one thing: a competitive
        league that builds community. From my first new player workshop to my most
        recent experience captaining a team, and all of the travel tournaments, Sunday
        Fundays, and team mixers in between, I’ve found that DCGFFL does that really
        well.\n\nOrganizations are defined by the members that comprise them, and
        fortunately this league is full of incredible people. My experiences this
        past year have added value to my life, so I’m eager to give back to the league
        by announcing my intent to run for the role of Director of Players.\n\nIf
        given the chance, I look forward to teaching new players, learning from the
        more experienced, and ensuring that this league continues to be a positive
        outlet for all of those that choose to play on Fridays and Sundays (and sometimes
        Saturdays?). \n\nOff the field, in my work helping connect vulnerable populations
        to vital resources, I’m learning every day that the relationships you build
        with the people you serve is just as important as the service you provide.
        I bring this perspective with me wherever I go and, if elected, it would be
        central to my approach as Director of Players."
  - title: Director of Communications
    name: Munroe Bell-Rose
    image: "/img/bell-rose1.jpeg"
    description: |-
      The Director of Communications coordinates with all Board members on providing the appropriate content for the website to address including, but not limited to, schedules, events, updates and any pertinent information deems appropriate by the Board.

      They send bi-weekly updates to the league membership about upcoming league events, maintain the DCGFFL websites, Facebook, Instagram, and other social media accounts to include updated and current information regarding team scores, game schedules, brackets, etc., and manage incoming emails.
    candidates: []
  - title: Treasurer
    name: Ryan Viessman
    image: "/img/Ryan_Dillon3.jpeg"
    description: |-
      The Treasurer will ensure the League is operating in compliance with 501(c)3 rules, manage league finances, file taxes, collect sponsor donations, manage registration fees and reimbursement, as well aid other Board members with ancillary tasks.

      Treasurers have organized special fundraisers, have assisted the Social Director with lining up league sponsors, and help ensure that apparel and awards are ordered on time.
    candidates:
    - name: Ryan Viessman
      image: "/img/ryan.jpeg"
      statement: |-
        When I first joined the DCGFFL in 2011, I was recently out and still trying to navigate my new life – not to mention, playing flag football was a huge step outside my comfort zone. Without hesitation, I felt welcome in the safe and positive environment that the league fosters. The camaraderie and sense of community associated with the DCGFFL is unique and extraordinary. It is these principles that have guided my service on the DCGFFL Board over the past 2 years.

        The financial stability of the DCGFFL has never been stronger, and my firm belief in this league’s resilience has never wavered. During my time as Treasurer, I have worked to secure new league sponsors, successfully transitioned our league finances to a local bank, effectively implemented Venmo as a form of payment for league participants, maintained a budget that currently is operating with a surplus, and ensured that the DCGFFL is in compliance with DC & Federal 501 (c)3 tax laws. To maintain smooth league operations, on and off the field, I am always willing to assist my Board colleagues with various other tasks that arise during the season.

        Given the league’s current financial status, I would like to see the DCGFFL Board explore creative ways to use these funds to further elevate  our league’s mission. For example, one idea I would propose is a ‘DCGFFL Family Fun Day’ at the fields once a season that encourages league members to bring their children/nieces/nephews for a day of activities. Additionally, I would explore strategic investments in service oriented projects that support the long term goals of the DCGFFL community.

        As Season 23 winds down, and we gear up for Season 24, I humbly ask for your support to continue as Treasurer of the DCGFFL. Let’s go!
  - title: Director of Operations
    name: JJ Johnson
    image: "/img/johnson_photo.jpg"
    description: |-
      The Director of Operations is the liaison with District of Columbia officials to obtain permits for fields.  They organize set up and break down of playing fields on game days.

      They also inventory equipment to ensure that the League is sufficiently supplied for game day operations, and maintain the equipment between games.
    candidates:
    - name: Patrick Barboun
      image: ''
      statement: Having been in the league for three seasons, I’d like to give back
        to the league by taking on the role of Director of Operations. From the perspective
        of a player, the operations of our league in securing permits and setting
        up on game days has been incredibly smooth during my time in the league and
        I hope to continue and improve upon that track record. The main improvement
        to operations I’d aim to make during my tenure is to have an EMT or other
        medic at the fields on game days. Our league has injuries many each season
        and hiring a trained professional to provide immediate first aid and guidance
        on treatment would keep the league safer and shorten recovery times for our
        players. So please consider voting for me for Director of Operations!
  - title: Social Director
    name: Amanda Dafonte
    image: "/img/408dad45-3822-4fc1-9c59-603f8e96c360.jpeg"
    description: |-
      The Social Director works with businesses and organizations to obtain sponsorships for the DCGFFL, and to arrange for venues to host social events.  They are in charge of developing the social event calendar and notifying players of events.

      They organize social functions before, during, and at the conclusion of each season with support of the rest of the DCGFFL.
    candidates:
    - image: ''
      statement: I would like to run for this position because I want to be apart
        of the future of the league. This league has become such a big part of my
        life, due in large part to the types of people I have met at the social events.
        I want to continue to foster the same great social environment that drew me
        in. I also would like to build a diverse social calendar with the members
        of the league to try and have something for everybody.
      name: Judy Hasty
    - image: ''
      statement: "- I have a fun, outgoing and charismatic personality\n- I work well
        in a team and I have strong communication and leadership\nskills\n- I’m savvy
        on all social media platforms \n- I have strong roots in the business community
        and can easily get sponsorships\n- I also am very experienced arranging parties
        and  events."
      name: Brandon McElroy
  - title: Director At-Large
    name: JC Adams
    image: "/img/adams_jc_2021.jpg"
    description: "The Director At-Large provides general support to other members
      of the DCGFFL Board as needed before, during, and at the conclusion of each
      season.\n\nThey have, historically, worked actively to administer the travel
      program as part of the travel management committee, and supported the league
      with its referees by developing prospective volunteer referees from league membership,
      organizing weekly referee schedules, interfacing with volunteer referees, including,
      but not limited to, facilitating payment, training and teaching NGFFL rules.
      \ They have also helped to coordinate the recreation league, and act as historian
      for maintaining league records. "
    candidates: []
elections:
  title: Elections
  text: 'Voting is open until Friday, November 18, 2022 at 7pm.  Candidates presented
    alphabetically by last name.  Participants of the DCGFFL for one of the previous
    two seasons, including referees and forever family members, are eligible to vote. '
  button:
    text: Cast your Ballot
    link: https://forms.gle/VWYp8imaFMk86Jgm6
    visible: true
  open: true
bylaws-minutes:
  title: Bylaws & Minutes
  bylaws:
    title: Bylaws
    text: "[DCGFFL  Bylaws, Revised February 2016](https://drive.google.com/file/d/0B9phGnY4E0R6ajJETlV5VTQ2TEk/view?resourcekey=0-2x_2NTBxHKXHYMZXv3WuIA)"
  minutes:
    title: Minutes
    seasons:
    - title: Season XX
      minutes:
      - title: Fall 2020 Player Survey | 08/18/2020
        link: "/fall-2020-player-survey-results/"
      - title: Board Meeting Minutes | 07/01/2020
        link: https://docs.google.com/document/d/1XklZIoqyUj80FWqZNt0mKVZKhEqFVaiNby9Crxt2vB4/edit?usp=sharing
      - title: Board Meeting Minutes | 06/10/2020
        link: https://docs.google.com/document/d/14ingwG5bawAbt2it0Mk-Hlb0jug4v7rldMhybdCxCS8/edit?usp=sharing
      - title: Board Meeting Minutes | 05/27/2020
        link: https://docs.google.com/document/d/10BzeRk-3R8JDozdeyFs8IqztR-4IumgOpmvoJ7ursxI/edit?usp=sharing
      - title: Retreat Minutes | 1/3/2020 – 1/5/2020
        link: https://docs.google.com/document/d/1907R9hYDJbDNNg23Vxn4pZaEgA5nTD-OS2RaKzr7AFs/edit?usp=sharing
    - title: Season XVIII
      minutes:
      - title: Board Meeting Minutes | 04/22/2019
        link: https://docs.google.com/document/d/1B49J_qJTBKxzQAgo46ac2aVQeEzBpXvujYZ4go6BuR0/edit?usp=sharing
      - title: Board Meeting Minutes | 04/02/2019
        link: https://docs.google.com/document/d/1x-APP4yhtUQVXvGnzyu3iaY4doLJ4HjkHLFVPgyeFwc/edit?usp=sharing
      - title: Board Meeting Minutes | 03/05/2019
        link: https://docs.google.com/document/d/1gzvZHBAgA9gdlwLUs7BU7frZqDzd-x1xqqFRPkYoSqQ/edit?usp=sharing
      - title: Retreat Meeting Minutes | 01/20/2019
        link: https://drive.google.com/file/d/1HbZ406kEvGc8TsIm_P1J24QoaFp6J_dy/view?usp=sharing
    - title: Prior Seasons
      minutes:
      - title: Meeting | 08/29/2018
        link: https://docs.google.com/document/d/1JVclqogO2vU7YHsHji2QLAc5RbIQfQSZfud2iovzUxE/edit?usp=sharing
      - title: Retreat | 07/06/2018  – 07/08/2018
        link: https://docs.google.com/document/d/1ca4EXdsAxIIh4J2sg6SRxjUUK_Vvqp73cRuWeuwWN_8/edit?usp=sharing
      - title: Meeting | 07/02/2018
        link: https://docs.google.com/document/d/1fHmP2TyrqogshqIBw17B2PMYD1qEcDSx__roDj07RbQ/edit?usp=sharing
      - title: Meeting | 06/11/2018
        link: https://docs.google.com/document/d/1RzUPc49wy6Kb1aPagQD2OJq4DAvMJNQ-lmnCLYE4xKM/edit?usp=sharing
      - title: DCGFFL | 02-13-2018 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1JVclqogO2vU7YHsHji2QLAc5RbIQfQSZfud2iovzUxE/edit?usp=sharing
      - title: DCGFFL | 01-31-2018 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1j7meFfbvAgwPcjbvevrUKeQOmReMpe424eWBaFAFeQA/edit?usp=sharing
      - title: DCGFFL Season XVI Board Retreat Minutes
        link: https://docs.google.com/document/d/1GLaaYzl5RRsvf6HFaGpQK32fAiyns4mHmYluZjXMmkc/edit?usp=sharing
      - title: DCGFFL | 01-10-2018 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1GHo1ecaI4bBcyYFw78r10r2PQnTAPQbtWNnY_uvfLiM/edit?usp=sharing
      - title: DCGFFL | 11-18-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1x_ShjmqC2oxPIRXcWWtAwYlJ6GlCjUU6BLb8_LQ3ccM/edit?usp=sharing
      - title: DCGFFL | 11-06-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/17SWTkt3bb2IgGLW3NZoP98WG6zgzdpbaNTh1zPIM7_A/edit?usp=sharing
      - title: DCGFFL | 10-17-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1kt5b7aphSBkPkeSoPu0LwbB5OkYRTkvIDWS0jpUbRpk/edit?usp=sharing
      - title: DCGFFL | 9-20-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1k10D-nCjjAjWmBld21CzX9gJi6s5AZtDKa6-QyehH2M/edit?usp=sharing
      - title: DCGFFL | 8-7-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1QzBYRPMvBwTgcHV6AiefHArlIG8tFIH5kP7GfkGXGFk/edit?usp=sharing
      - title: DCGFFL Season XV Board Retreat Minutes
        link: https://docs.google.com/document/d/1feztVfeaxE0UEWOy0HGgi8pR3Yb7mCNYikv-O7zDe2E/edit?usp=sharing
      - title: DCGFFL | 05-31-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1j0YRg3WgCXDax8a55UBzCFcC52UFAXpJgZlX51yX5iQ/edit?usp=sharing
      - title: DCGFFL | 03-28-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/14hjD0RZMkyWcWgaG9rBg4-qPDZGuRi_u3su9DCtRDiM/edit
      - title: DCGFFL | 03-07-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1RB9lnhHZVY2B5JA6m41pbQU516Z-NEA0u0as-pe1xjA/edit
      - title: DCGFFL | 02-17-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/17qepK1AL6sEu_v9_px7qjKpsfWIxfdijxCyjSDrq0C0/edit
      - title: DCGFFL | 02-01-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1JUAqhboHnWXuS6zQOKTKGBe7Y47K7eytNud16yfgPo4/edit
      - title: DCGFFL | Bylaws | Revised February 2016
        link: https://drive.google.com/open?id=0B9phGnY4E0R6ajJETlV5VTQ2TEk
      - title: DCGFFL | Season XII | Board Retreat Minutes
        link: https://docs.google.com/document/d/1h5HTzSHTM3jYXv4nQDM7Rdzd7J_ArkrkGlNvIB4gpwY/edit
      - title: DCGFFL | Bylaw Revision Meeting Minutes
        link: "/img/DCGFFL-Bylaw-Revision-Meeting-Minutes.pdf"

---
<img src="/img/img_3740.heic"><img src="/img/image0.jpeg"><img src="/img/img_4195.jpeg"><img src="/img/ryan.jpeg"><img src="/img/4827aa90-fe3c-452d-8e35-7a1cda933ec7.jpeg"><img src="/img/fab07bc3-ebb3-40d0-a051-04c2daf62d31.jpeg"><section id="board-section">
  <div class="inner-section">
    <div class="board-intro">
      <h1 class="intro-title">{{ page.hero.title }}</h1>
      <div class="intro-text">
        {{ page.hero.text | markdownify }}
      </div>
      <a class="btn {% if page.hero.button.visible == false %}hidden{% endif %}" href="{{ page.hero.button.link }}">{{ page.hero.button.text }}</a>
    </div>
    
    <div class="board-members">
      <h2 class="members-title">{{ page.members.title }}</h2>
      <div class="members-list">
        {% for member in page.members.list %}
        <div class="member-col">
          <div class="member">
            <div class="member-image">
              <img src="{{ member.image }}"/>
            </div>
            <h4 class="member-name">
              {{ member.name }}
            </h4>
            <div class="member-title">
              {{ member.title }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="elections-section">
  <div class="inner-section">
    {% if page.elections.open == true %}
    <div class="elections-intro">
      <h2 class="intro-title">{{ page.elections.title }}</h2>
      <div class="intro-text">
        {{ page.elections.text | markdownify }}
      </div>
      <a href="{{ page.elections.button.link}}" class="btn {% if page.elections.button.visible == false %}hidden{% endif %}">{{ page.elections.button.text }}</a>
    </div>
    {% endif %}
    <div class="positions-list">
      {% for position in page.members.list %}
      <div class="position">
        <h3 class="position-title">{{ position.title }}</h3>
        <div class="position-description">{{ position.description | markdownify }}</div>
        {% if position.candidates.size > 0 %}
        {% if page.elections.open == true %}
        <div class="position-candidates">
          <h4 class="candidates-title">Candidates</h4>
          <div class="candidate-list">
            {% for candidate in position.candidates %}
          <div class="candidate-col">
            <div class="candidate">
              <div class="candidate-image">
                <div class="image-placeholder">
                  <i class="fa fa-user"></i>
                </div>
                {% if candidate.image != '' %}
                <img src="{{ candidate.image }}" class="image"/>
                {% endif %}
                
              </div>
              <h5 class="candidate-name">{{ candidate.name }}</h5>
              <a class="statement-toggle" href="#">Statement</a>
              <div class="statement-overlay">
                
                <div class="candidate-statement">
                  <div class="close-statement-overlay"><span>&times;</span></div>
                  <div class="statement-content">
                    <div class="candidate-image">
                      <div class="image-placeholder">
                        <i class="fa fa-user"></i>
                      </div>
                      {% if candidate.image != '' %}
                      <img src="{{ candidate.image }}" class="image"/>
                      {% endif %}
                    </div>
                    <h4 class="statement-name">{{ candidate.name }}</h4>
                    <div class="statement-position">{{ position.title }}</div>
                    
                    <div class="statement-text">
                      {{ candidate.statement | markdownify }}
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="minutes-section">
  <div class="inner-section">
    <h2 class="section-title">{{ page.bylaws-minutes.title }}</h2>
    <h3>{{ page.bylaws-minutes.bylaws.title }}</h3>
    <div class="bylaws-text">{{ page.bylaws-minutes.bylaws.text | markdownify }}</div>
    <h3>{{page.bylaws-minutes.minutes.title}}</h3>
    <div class="seasons-list">
      {% for season in page.bylaws-minutes.minutes.seasons %}
      <div class="season">
        <a class="season-title" href="#"><h4 >{{ season.title }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></h4></a>
        <div class="minutes-list">
          {% for minute in season.minutes %}
          <div class="minute">
            <a class="minute-link" href="{{ minute.link }}">{{ minute.title }}</a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>