---
title: Board
permalink: board
css: board
content-id: board-page
scripts:
- board
hero:
  title: The Board
  text: The DCGFFL Board works hard to bring you competitive flag football and fun
    events!  Click below to learn about how to volunteer.
  button:
    text: Elections
    link: "#elections-section"
    visible: true
members:
  title: Meet the Board
  list:
  - title: Commissioner
    name: Jim Roll
    image: "/img/roll_photo.jpg"
    description: |-
      The Commissioner is the Chair of the League, responsible for overseeing generally the League’s operations.

      They communicate with Board members on their goals, timelines, and budgets, and lead regular Board meetings to ensure the needs of the DCGFFL are consistently addressed.  They communicate with league membership, and provide updates to the Board members on the state of the league.

      They organize elections for the Commissioner and Board members.  They work with the Budget and Legal Director to ensure strategic goals are set and budgets are created annually that comport with the goals and missions of the DCGFFL.
    candidates: []
  - title: Director of Players
    name: Nolan Lazarus
    image: "/img/Nolan_Lazarus.jpg"
    description: |-
      The Director of Players is the vice-Chair of the League and serves as the liaison between players and the DCGFFL Board.

      They are responsible for handling player recruitment, registration, new player workshops, tryouts, and discipline.

      Previous Directors of Players have also helped run the Recreation League and have fulfilled various other tasks as needed.
    candidates: []
  - title: Director of Communications
    name: Ricky Harrison
    image: "/img/harrison_photo.jpeg"
    description: |-
      The Director of Communications coordinates with all Board members on providing the appropriate content for the website to address including, but not limited to, schedules, events, updates and any pertinent information deems appropriate by the Board.

      They send bi-weekly updates to the league membership about upcoming league events, maintain the DCGFFL websites, Facebook, Instagram, and other social media accounts to include updated and current information regarding team scores, game schedules, brackets, etc., and manage incoming emails.
    candidates: []
  - title: Treasurer
    name: Ryan Viessman
    image: "/img/Ryan_Dillon3.jpeg"
    description: |-
      The Treasurer will ensure the League is operating in compliance with 501(c)3 rules, manage league finances, file taxes, collect sponsor donations, manage registration fees and reimbursement, as well aid other Board members with ancillary tasks.

      Treasurers have organized special fundraisers, have assisted the Social Director with lining up league sponsors, and help ensure that apparel and awards are ordered on time.
    candidates: []
  - title: Director of Operations
    name: JJ Johnson
    image: "/img/johnson_photo.jpg"
    description: |-
      The Director of Operations is the liaison with District of Columbia officials to obtain permits for fields.  They organize set up and break down of playing fields on game days.

      They also inventory equipment to ensure that the League is sufficiently supplied for game day operations, and maintain the equipment between games.
    candidates: []
  - title: Social Director
    name: Danny Hughes
    image: "/img/hughes_photo.jpeg"
    description: |-
      The Social Director works with businesses and organizations to obtain sponsorships for the DCGFFL, and to arrange for venues to host social events.  They are in charge of developing the social event calendar and notifying players of events.

      They organize social functions before, during, and at the conclusion of each season with support of the rest of the DCGFFL.
    candidates: []
  - title: Director At-Large
    name: Bryan Jones
    image: ''
    description: |-
      The Director At-Large provides general support to other members of the DCGFFL Board as needed before, during, and at the conclusion of each season.

      They have, historically, worked actively to administer the travel program as part of the travel management committee, and supported the league with its referees by developing prospective volunteer referees from league membership, organizing weekly referee schedules, interfacing with volunteer referees, including, but not limited to, facilitating payment, training and teaching NGFFL rules.  They also act as historian for maintaining league records.
    candidates: []
elections:
  title: Elections
  text: 'The seven board positions are listed below. Terms are 1 year long, with staggered
    election cycles between Fall and Spring seasons.  Commissioner, Communications,
    and At-Large selected in summer; Treasurer, Social, Players, and Operations are
    selected in winter. '
  button:
    text: Vote now
    link: "#"
    visible: false
  open: false
bylaws-minutes:
  title: Bylaws & Minutes
  bylaws:
    title: Bylaws
    text: "[DCGFFL  Bylaws, Revised February 2016](https://drive.google.com/file/d/0B9phGnY4E0R6ajJETlV5VTQ2TEk/view?resourcekey=0-2x_2NTBxHKXHYMZXv3WuIA)"
  minutes:
    title: Minutes
    seasons:
    - title: Season XX
      minutes:
      - title: Fall 2020 Player Survey | 08/18/2020
        link: "/fall-2020-player-survey-results/"
      - title: Board Meeting Minutes | 07/01/2020
        link: https://docs.google.com/document/d/1XklZIoqyUj80FWqZNt0mKVZKhEqFVaiNby9Crxt2vB4/edit?usp=sharing
      - title: Board Meeting Minutes | 06/10/2020
        link: https://docs.google.com/document/d/14ingwG5bawAbt2it0Mk-Hlb0jug4v7rldMhybdCxCS8/edit?usp=sharing
      - title: Board Meeting Minutes | 05/27/2020
        link: https://docs.google.com/document/d/10BzeRk-3R8JDozdeyFs8IqztR-4IumgOpmvoJ7ursxI/edit?usp=sharing
      - title: Retreat Minutes | 1/3/2020 – 1/5/2020
        link: https://docs.google.com/document/d/1907R9hYDJbDNNg23Vxn4pZaEgA5nTD-OS2RaKzr7AFs/edit?usp=sharing
    - title: Season XVIII
      minutes:
      - title: Board Meeting Minutes | 04/22/2019
        link: https://docs.google.com/document/d/1B49J_qJTBKxzQAgo46ac2aVQeEzBpXvujYZ4go6BuR0/edit?usp=sharing
      - title: Board Meeting Minutes | 04/02/2019
        link: https://docs.google.com/document/d/1x-APP4yhtUQVXvGnzyu3iaY4doLJ4HjkHLFVPgyeFwc/edit?usp=sharing
      - title: Board Meeting Minutes | 03/05/2019
        link: https://docs.google.com/document/d/1gzvZHBAgA9gdlwLUs7BU7frZqDzd-x1xqqFRPkYoSqQ/edit?usp=sharing
      - title: Retreat Meeting Minutes | 01/20/2019
        link: https://drive.google.com/file/d/1HbZ406kEvGc8TsIm_P1J24QoaFp6J_dy/view?usp=sharing
    - title: Prior Seasons
      minutes:
      - title: Meeting | 08/29/2018
        link: https://docs.google.com/document/d/1JVclqogO2vU7YHsHji2QLAc5RbIQfQSZfud2iovzUxE/edit?usp=sharing
      - title: Retreat | 07/06/2018  – 07/08/2018
        link: https://docs.google.com/document/d/1ca4EXdsAxIIh4J2sg6SRxjUUK_Vvqp73cRuWeuwWN_8/edit?usp=sharing
      - title: Meeting | 07/02/2018
        link: https://docs.google.com/document/d/1fHmP2TyrqogshqIBw17B2PMYD1qEcDSx__roDj07RbQ/edit?usp=sharing
      - title: Meeting | 06/11/2018
        link: https://docs.google.com/document/d/1RzUPc49wy6Kb1aPagQD2OJq4DAvMJNQ-lmnCLYE4xKM/edit?usp=sharing
      - title: DCGFFL | 02-13-2018 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1JVclqogO2vU7YHsHji2QLAc5RbIQfQSZfud2iovzUxE/edit?usp=sharing
      - title: DCGFFL | 01-31-2018 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1j7meFfbvAgwPcjbvevrUKeQOmReMpe424eWBaFAFeQA/edit?usp=sharing
      - title: DCGFFL Season XVI Board Retreat Minutes
        link: https://docs.google.com/document/d/1GLaaYzl5RRsvf6HFaGpQK32fAiyns4mHmYluZjXMmkc/edit?usp=sharing
      - title: DCGFFL | 01-10-2018 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1GHo1ecaI4bBcyYFw78r10r2PQnTAPQbtWNnY_uvfLiM/edit?usp=sharing
      - title: DCGFFL | 11-18-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1x_ShjmqC2oxPIRXcWWtAwYlJ6GlCjUU6BLb8_LQ3ccM/edit?usp=sharing
      - title: DCGFFL | 11-06-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/17SWTkt3bb2IgGLW3NZoP98WG6zgzdpbaNTh1zPIM7_A/edit?usp=sharing
      - title: DCGFFL | 10-17-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1kt5b7aphSBkPkeSoPu0LwbB5OkYRTkvIDWS0jpUbRpk/edit?usp=sharing
      - title: DCGFFL | 9-20-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1k10D-nCjjAjWmBld21CzX9gJi6s5AZtDKa6-QyehH2M/edit?usp=sharing
      - title: DCGFFL | 8-7-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1QzBYRPMvBwTgcHV6AiefHArlIG8tFIH5kP7GfkGXGFk/edit?usp=sharing
      - title: DCGFFL Season XV Board Retreat Minutes
        link: https://docs.google.com/document/d/1feztVfeaxE0UEWOy0HGgi8pR3Yb7mCNYikv-O7zDe2E/edit?usp=sharing
      - title: DCGFFL | 05-31-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1j0YRg3WgCXDax8a55UBzCFcC52UFAXpJgZlX51yX5iQ/edit?usp=sharing
      - title: DCGFFL | 03-28-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/14hjD0RZMkyWcWgaG9rBg4-qPDZGuRi_u3su9DCtRDiM/edit
      - title: DCGFFL | 03-07-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1RB9lnhHZVY2B5JA6m41pbQU516Z-NEA0u0as-pe1xjA/edit
      - title: DCGFFL | 02-17-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/17qepK1AL6sEu_v9_px7qjKpsfWIxfdijxCyjSDrq0C0/edit
      - title: DCGFFL | 02-01-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1JUAqhboHnWXuS6zQOKTKGBe7Y47K7eytNud16yfgPo4/edit
      - title: DCGFFL | Bylaws | Revised February 2016
        link: https://drive.google.com/open?id=0B9phGnY4E0R6ajJETlV5VTQ2TEk
      - title: DCGFFL | Season XII | Board Retreat Minutes
        link: https://docs.google.com/document/d/1h5HTzSHTM3jYXv4nQDM7Rdzd7J_ArkrkGlNvIB4gpwY/edit
      - title: DCGFFL | Bylaw Revision Meeting Minutes
        link: "/img/DCGFFL-Bylaw-Revision-Meeting-Minutes.pdf"

---
<section id="board-section">
  <div class="inner-section">
    <div class="board-intro">
      <h1 class="intro-title">{{ page.hero.title }}</h1>
      <div class="intro-text">
        {{ page.hero.text | markdownify }}
      </div>
      <a class="btn {% if page.hero.button.visible == false %}hidden{% endif %}" href="{{ page.hero.button.link }}">{{ page.hero.button.text }}</a>
    </div>
    
    <div class="board-members">
      <h2 class="members-title">{{ page.members.title }}</h2>
      <div class="members-list">
        {% for member in page.members.list %}
        <div class="member-col">
          <div class="member">
            <div class="member-image">
              <img src="{{ member.image }}"/>
            </div>
            <h4 class="member-name">
              {{ member.name }}
            </h4>
            <div class="member-title">
              {{ member.title }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% if page.elections.open == true %}
<section id="elections-section">
  <div class="inner-section">
    <div class="elections-intro">
      <h2 class="intro-title">{{ page.elections.title }}</h2>
      <div class="intro-text">
        {{ page.elections.text | markdownify }}
      </div>
      <a href="{{ page.elections.button.link}}" class="btn {% if page.elections.button.visible == false %}hidden{% endif %}">{{ page.elections.button.text }}</a>
    </div>
    <div class="positions-list">
      {% for position in page.members.list %}
      <div class="position">
        <h3 class="position-title">{{ position.title }}</h3>
        <div class="position-description">{{ position.description | markdownify }}</div>
        {% if position.candidates.size > 0 %}
        <div class="position-candidates">
          <h4 class="candidates-title">Candidates</h4>
          <div class="candidate-list">
            {% for candidate in position.candidates %}
          <div class="candidate-col">
            <div class="candidate">
              <div class="candidate-image">
                <div class="image-placeholder">
                  <i class="fa fa-user"></i>
                </div>
                {% if candidate.image != '' %}
                <img src="{{ candidate.image }}" class="image"/>
                {% endif %}
                
              </div>
              <h5 class="candidate-name">{{ candidate.name }}</h5>
              <a class="statement-toggle" href="#">Statement</a>
              <div class="statement-overlay">
                
                <div class="candidate-statement">
                  <div class="close-statement-overlay"><span>&times;</span></div>
                  <div class="statement-content">
                    <div class="candidate-image">
                      <div class="image-placeholder">
                        <i class="fa fa-user"></i>
                      </div>
                      {% if candidate.image != '' %}
                      <img src="{{ candidate.image }}" class="image"/>
                      {% endif %}
                    </div>
                    <h4 class="statement-name">{{ candidate.name }}</h4>
                    <div class="statement-position">{{ position.title }}</div>
                    
                    <div class="statement-text">
                      {{ candidate.statement | markdownify }}
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
<section id="minutes-section">
  <div class="inner-section">
    <h2 class="section-title">{{ page.bylaws-minutes.title }}</h2>
    <h3>{{ page.bylaws-minutes.bylaws.title }}</h3>
    <div class="bylaws-text">{{ page.bylaws-minutes.bylaws.text | markdownify }}</div>
    <h3>{{page.bylaws-minutes.minutes.title}}</h3>
    <div class="seasons-list">
      {% for season in page.bylaws-minutes.minutes.seasons %}
      <div class="season">
        <a class="season-title" href="#"><h4 >{{ season.title }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></h4></a>
        <div class="minutes-list">
          {% for minute in season.minutes %}
          <div class="minute">
            <a class="minute-link" href="{{ minute.link }}">{{ minute.title }}</a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>