---
title: Board
permalink: "/board/"
css: board
content-id: board-page
scripts:
- board
hero:
  title: The Board
  text: |-
    The seven board positions are listed below. Terms are 1 year long, with staggered election cycles between Fall and Spring seasons.  Commissioner, Communications, and At-Large are selected in summer; Treasurer, Social, Players, and Operations are selected in winter.

    The DCGFFL Board works hard to bring you competitive flag football, fun social events, and a great community experience!  We need dedicated volunteers to lead and keep that experience going for future seasons.  Click below to learn about how to volunteer on the Board.
  button:
    text: Elections
    link: "#elections-section"
    visible: true
members:
  title: Meet the Board
  list:
  - title: Commissioner
    name: Jim Roll
    image: "/img/roll_photo.jpg"
    description: |-
      The Commissioner is the Chair of the League, responsible for overseeing generally the League’s operations.

      They communicate with Board members on their goals, timelines, and budgets, and lead regular Board meetings to ensure the needs of the DCGFFL are consistently addressed.  They communicate with league membership, and provide updates to the Board members on the state of the league.

      They organize elections for the Commissioner and Board members.  They work with the Budget and Legal Director to ensure strategic goals are set and budgets are created annually that comport with the goals and missions of the DCGFFL.
    candidates:
    - name: Logan Dawson
      image: "/img/dawson1.JPG"
      statement: "I have been a player in the League since Season XVII, and I joined
        the Board at the end of Season XXI. For the past 6 months, I have served as
        your Director of Players, and in that time, I have gained first-hand experience
        with all functional aspects of gameplay and competition in the League, including
        efforts such as organizing preseason activities in the lead-up to the draft
        and developing the season and playoff schedules. \n\nAlthough I’ve only been
        on the Board for a short time, I have stepped up on several occasions in the
        Commissioner’s absence, including during the season and supplemental drafts,
        and in doing so have demonstrated that I have the necessary leadership and
        interpersonal skills to be successful in leading the Board and the entire
        League for the next two seasons (and hopefully longer). I am also confident
        that I will be able to work with the Directors on the Board to ensure that
        all other aspects of the League’s mission and operations will be successful
        under my guidance.\n\nAs your next Commissioner, I want to see the DCGFFL
        build on existing relationships and the foundation that was laid by those
        who founded and have led the league over the past 12+ years. I recognize that
        I won’t know everything from Day 1 (or even at the end of my term), but I
        will learn quickly and will know when to reach out to those who have come
        before me for guidance. I also want to see us continue to regrow the League
        since our Season XXI relaunch by establishing new relationships and developing
        the next generation of players and leaders who will lead the league for the
        next 10-15 years.\n\nI have truly enjoyed serving you over the course of this
        season, and I’m excited at the prospect of taking the next step in leading
        the DCGFFL. Thank you for your consideration, and I’d greatly appreciate your
        vote in the upcoming election."
    - name: Joe Heron
      image: "/img/heron1.png"
      statement: "Hello, my name is Joe Heron and I am running for Commissioner of
        the DC Gay Flag Football League (DCGFFL). I have been a member of this league
        since Fall of 2011. When I joined this league, I was a novice at football.
        However, the DCGFFL community was not only welcoming of players of any skill
        level but also welcoming of just people in general. New members of the league
        were almost immediately welcomed into this new family but also taught about
        football as well. I soon learned that this group of people loved socializing
        together almost as much as they loved to play football. Playing football was
        the main reason we all came together every Sunday, but it was also the fun
        we had at the fields while playing on those Sundays that kept us coming back
        week after week and season after season. After a few seasons I was learning
        more about football and volunteered to try and captain a team. It was tough
        but sticking with it captaining a team is now one of the most enjoyable things
        I do within the DCGFFL. A few seasons after that I joined the Board to help
        give back to the DCGFFL because the DCGFFL had given so much to me. I have
        been a captain and or a Board member for the DCGFFL since season 9 because
        in some way I want to help as many new members to the league learn to love
        the DCGFFL as much as I do. Whether you’re the person who loves to play football
        and wants to find a great new group of friends that can become like family
        or whether you have little to no football skills but love the social aspect
        of this league, the DCGFFL has a place for you.\n\nIn the early seasons of
        the league, it was so popular that fielding 20 teams a season was common and
        registration would fill up within hours, not days. In the two seasons since
        we came back from the Covid-19 break, this league has had an influx of 120-150
        new players between the regular league that plays on Sundays or the Recreational
        League that plays on Friday nights. It’s hard to imagine what the future holds
        when you join the DCGFFL for your first season, but for me 20 seasons later
        I couldn’t think of anything that would have been more fun and a better choice
        to keep coming back season after season. Yes, being on the Board is tough
        and hard work. I have held three of the seven board positions in my time with
        the DCGFFL. I know how it works and I know how tough it is, but I also know
        how much its worth it on Sundays when everyone is out playing football and
        joking and having fun and realizing what a great group of people we have in
        the DCGFFL while we are at the fields or later at our sponsor bars.\n\nWe
        have many things to love about this league. Ask anyone of us that have been
        around for so long and we can all give you a list of things that make the
        DCGFFL special to us. However, there are somethings that we also would love
        to see improved. Field conditions are one of them. As well as quality of the
        referees for the games. I believe that I have a wealth of knowledge of the
        DCGFFL, I know what has been tried to help fix these things but sometimes
        it takes the new ideas and new members to help move these things forward.
        I want to stay true to the things that helped make the DCGFFL the amazing
        league it is now but cultivate the new ideas of the new members and push forward
        for another 22 seasons. Somewhere out there we have members who are new captains
        and new board members. I want to help be the bridge between our long-standing
        history of being a great flag football league in the area to the new group
        of players, captains and board members who will take this league and make
        it without a doubt the best league in the area. \n\nPlease take the time to
        vote, and if you vote for me trust that I will always keep the best interest
        of the league as a whole in mind when trying to move forward.\nThanks for
        your support."
  - title: Director of Players
    name: Logan Dawson
    image: "/img/108219dc-ed9c-4e5a-8b8a-82bb41c3424d.jpeg"
    description: |-
      The Director of Players is the vice-Chair of the League and serves as the liaison between players and the DCGFFL Board.

      They are responsible for handling player recruitment, registration, new player workshops, tryouts, and discipline.

      Previous Directors of Players have also helped run the Recreation League and have fulfilled various other tasks as needed.
    candidates: []
  - title: Director of Communications
    name: Ricky Harrison
    image: "/img/harrison_photo.jpeg"
    description: |-
      The Director of Communications coordinates with all Board members on providing the appropriate content for the website to address including, but not limited to, schedules, events, updates and any pertinent information deems appropriate by the Board.

      They send bi-weekly updates to the league membership about upcoming league events, maintain the DCGFFL websites, Facebook, Instagram, and other social media accounts to include updated and current information regarding team scores, game schedules, brackets, etc., and manage incoming emails.
    candidates:
    - name: Munroe Bell-Rose
      image: "/img/bell-rose.PNG"
      statement: "The DCGFFL has been a saving grace to me during one of the most
        difficult times of my life. So many members within leadership and throughout
        our community have stepped in to replace the family I lost during my transition
        period. I would love nothing more than to give back to an organization that
        has saved my life. \n\nAfter playing in the league for 3 seasons, traveling
        to Sunshine Cup to cheer on DC-based teams, and joining the Senators Black
        travel team, I feel that I have developed an intimate understanding of the
        mission of the league as an organization and what our community means to players.
        I believe my professional background of a Masters in Education and my career
        in digital media uniquely position me to deliver high-quality and informational
        communication via the website, social media, and email communication. Thank
        you for considering my candidacy."
  - title: Treasurer
    name: Ryan Viessman
    image: "/img/Ryan_Dillon3.jpeg"
    description: |-
      The Treasurer will ensure the League is operating in compliance with 501(c)3 rules, manage league finances, file taxes, collect sponsor donations, manage registration fees and reimbursement, as well aid other Board members with ancillary tasks.

      Treasurers have organized special fundraisers, have assisted the Social Director with lining up league sponsors, and help ensure that apparel and awards are ordered on time.
    candidates: []
  - title: Director of Operations
    name: JJ Johnson
    image: "/img/johnson_photo.jpg"
    description: |-
      The Director of Operations is the liaison with District of Columbia officials to obtain permits for fields.  They organize set up and break down of playing fields on game days.

      They also inventory equipment to ensure that the League is sufficiently supplied for game day operations, and maintain the equipment between games.
    candidates: []
  - title: Social Director
    name: Amanda Dafonte
    image: "/img/408dad45-3822-4fc1-9c59-603f8e96c360.jpeg"
    description: |-
      The Social Director works with businesses and organizations to obtain sponsorships for the DCGFFL, and to arrange for venues to host social events.  They are in charge of developing the social event calendar and notifying players of events.

      They organize social functions before, during, and at the conclusion of each season with support of the rest of the DCGFFL.
    candidates: []
  - title: Director At-Large
    name: JC Adams
    image: "/img/adams_jc_2021.jpg"
    description: "The Director At-Large provides general support to other members
      of the DCGFFL Board as needed before, during, and at the conclusion of each
      season.\n\nThey have, historically, worked actively to administer the travel
      program as part of the travel management committee, and supported the league
      with its referees by developing prospective volunteer referees from league membership,
      organizing weekly referee schedules, interfacing with volunteer referees, including,
      but not limited to, facilitating payment, training and teaching NGFFL rules.
      \ They have also helped to coordinate the recreation league, and act as historian
      for maintaining league records. "
    candidates:
    - name: Kevin Comerford
      image: "/img/comerford.jpeg"
      statement: |-
        Hey, football fam! I’m throwing my hat in for Director at Large. I’ve been a member of the DCGFFL since 2015, both as an active player for six seasons, and currently as a forever member of Buns of Steel. I served on the DCGFFL board back in 2016 as Social Director. During my time on the board I managed to increase league sponsorship funding to match the growing league, all while giving our leading sponsors twice the league presence as seasons prior. In the interim, I created an independent league, Rogue Cornhole, which currently is made up of 152 players and 32 teams. Now 6 seasons in, this league has made a huge impact on the community, with $36,000 raised for charity. I was most recently honored with the TeamDC MVP Award at the Night of Champions for my role in the creation of this league.

        During my time on the DCGFFL board, we not only revamped our sponsorship program, but also brought Rec league to its highest participation levels, and created the current structure of the Travel Management Committee.  My goals for this upcoming season include 1) championing women leadership and players, 2) expanding Rec league focus and participation, and 3) bringing ref scheduling into today’s technology with real time updates. I’m well versed in ref scheduling and will be a great asset to this league.
elections:
  title: Elections
  text: When elections are open, candidates and their statements are posted below.
  button:
    text: Vote now
    link: "#"
    visible: false
  open: true
bylaws-minutes:
  title: Bylaws & Minutes
  bylaws:
    title: Bylaws
    text: "[DCGFFL  Bylaws, Revised February 2016](https://drive.google.com/file/d/0B9phGnY4E0R6ajJETlV5VTQ2TEk/view?resourcekey=0-2x_2NTBxHKXHYMZXv3WuIA)"
  minutes:
    title: Minutes
    seasons:
    - title: Season XX
      minutes:
      - title: Fall 2020 Player Survey | 08/18/2020
        link: "/fall-2020-player-survey-results/"
      - title: Board Meeting Minutes | 07/01/2020
        link: https://docs.google.com/document/d/1XklZIoqyUj80FWqZNt0mKVZKhEqFVaiNby9Crxt2vB4/edit?usp=sharing
      - title: Board Meeting Minutes | 06/10/2020
        link: https://docs.google.com/document/d/14ingwG5bawAbt2it0Mk-Hlb0jug4v7rldMhybdCxCS8/edit?usp=sharing
      - title: Board Meeting Minutes | 05/27/2020
        link: https://docs.google.com/document/d/10BzeRk-3R8JDozdeyFs8IqztR-4IumgOpmvoJ7ursxI/edit?usp=sharing
      - title: Retreat Minutes | 1/3/2020 – 1/5/2020
        link: https://docs.google.com/document/d/1907R9hYDJbDNNg23Vxn4pZaEgA5nTD-OS2RaKzr7AFs/edit?usp=sharing
    - title: Season XVIII
      minutes:
      - title: Board Meeting Minutes | 04/22/2019
        link: https://docs.google.com/document/d/1B49J_qJTBKxzQAgo46ac2aVQeEzBpXvujYZ4go6BuR0/edit?usp=sharing
      - title: Board Meeting Minutes | 04/02/2019
        link: https://docs.google.com/document/d/1x-APP4yhtUQVXvGnzyu3iaY4doLJ4HjkHLFVPgyeFwc/edit?usp=sharing
      - title: Board Meeting Minutes | 03/05/2019
        link: https://docs.google.com/document/d/1gzvZHBAgA9gdlwLUs7BU7frZqDzd-x1xqqFRPkYoSqQ/edit?usp=sharing
      - title: Retreat Meeting Minutes | 01/20/2019
        link: https://drive.google.com/file/d/1HbZ406kEvGc8TsIm_P1J24QoaFp6J_dy/view?usp=sharing
    - title: Prior Seasons
      minutes:
      - title: Meeting | 08/29/2018
        link: https://docs.google.com/document/d/1JVclqogO2vU7YHsHji2QLAc5RbIQfQSZfud2iovzUxE/edit?usp=sharing
      - title: Retreat | 07/06/2018  – 07/08/2018
        link: https://docs.google.com/document/d/1ca4EXdsAxIIh4J2sg6SRxjUUK_Vvqp73cRuWeuwWN_8/edit?usp=sharing
      - title: Meeting | 07/02/2018
        link: https://docs.google.com/document/d/1fHmP2TyrqogshqIBw17B2PMYD1qEcDSx__roDj07RbQ/edit?usp=sharing
      - title: Meeting | 06/11/2018
        link: https://docs.google.com/document/d/1RzUPc49wy6Kb1aPagQD2OJq4DAvMJNQ-lmnCLYE4xKM/edit?usp=sharing
      - title: DCGFFL | 02-13-2018 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1JVclqogO2vU7YHsHji2QLAc5RbIQfQSZfud2iovzUxE/edit?usp=sharing
      - title: DCGFFL | 01-31-2018 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1j7meFfbvAgwPcjbvevrUKeQOmReMpe424eWBaFAFeQA/edit?usp=sharing
      - title: DCGFFL Season XVI Board Retreat Minutes
        link: https://docs.google.com/document/d/1GLaaYzl5RRsvf6HFaGpQK32fAiyns4mHmYluZjXMmkc/edit?usp=sharing
      - title: DCGFFL | 01-10-2018 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1GHo1ecaI4bBcyYFw78r10r2PQnTAPQbtWNnY_uvfLiM/edit?usp=sharing
      - title: DCGFFL | 11-18-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1x_ShjmqC2oxPIRXcWWtAwYlJ6GlCjUU6BLb8_LQ3ccM/edit?usp=sharing
      - title: DCGFFL | 11-06-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/17SWTkt3bb2IgGLW3NZoP98WG6zgzdpbaNTh1zPIM7_A/edit?usp=sharing
      - title: DCGFFL | 10-17-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1kt5b7aphSBkPkeSoPu0LwbB5OkYRTkvIDWS0jpUbRpk/edit?usp=sharing
      - title: DCGFFL | 9-20-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1k10D-nCjjAjWmBld21CzX9gJi6s5AZtDKa6-QyehH2M/edit?usp=sharing
      - title: DCGFFL | 8-7-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1QzBYRPMvBwTgcHV6AiefHArlIG8tFIH5kP7GfkGXGFk/edit?usp=sharing
      - title: DCGFFL Season XV Board Retreat Minutes
        link: https://docs.google.com/document/d/1feztVfeaxE0UEWOy0HGgi8pR3Yb7mCNYikv-O7zDe2E/edit?usp=sharing
      - title: DCGFFL | 05-31-2017 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1j0YRg3WgCXDax8a55UBzCFcC52UFAXpJgZlX51yX5iQ/edit?usp=sharing
      - title: DCGFFL | 03-28-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/14hjD0RZMkyWcWgaG9rBg4-qPDZGuRi_u3su9DCtRDiM/edit
      - title: DCGFFL | 03-07-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1RB9lnhHZVY2B5JA6m41pbQU516Z-NEA0u0as-pe1xjA/edit
      - title: DCGFFL | 02-17-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/17qepK1AL6sEu_v9_px7qjKpsfWIxfdijxCyjSDrq0C0/edit
      - title: DCGFFL | 02-01-2016 | Board Meeting Minutes
        link: https://docs.google.com/document/d/1JUAqhboHnWXuS6zQOKTKGBe7Y47K7eytNud16yfgPo4/edit
      - title: DCGFFL | Bylaws | Revised February 2016
        link: https://drive.google.com/open?id=0B9phGnY4E0R6ajJETlV5VTQ2TEk
      - title: DCGFFL | Season XII | Board Retreat Minutes
        link: https://docs.google.com/document/d/1h5HTzSHTM3jYXv4nQDM7Rdzd7J_ArkrkGlNvIB4gpwY/edit
      - title: DCGFFL | Bylaw Revision Meeting Minutes
        link: "/img/DCGFFL-Bylaw-Revision-Meeting-Minutes.pdf"

---
<section id="board-section">
  <div class="inner-section">
    <div class="board-intro">
      <h1 class="intro-title">{{ page.hero.title }}</h1>
      <div class="intro-text">
        {{ page.hero.text | markdownify }}
      </div>
      <a class="btn {% if page.hero.button.visible == false %}hidden{% endif %}" href="{{ page.hero.button.link }}">{{ page.hero.button.text }}</a>
    </div>
    
    <div class="board-members">
      <h2 class="members-title">{{ page.members.title }}</h2>
      <div class="members-list">
        {% for member in page.members.list %}
        <div class="member-col">
          <div class="member">
            <div class="member-image">
              <img src="{{ member.image }}"/>
            </div>
            <h4 class="member-name">
              {{ member.name }}
            </h4>
            <div class="member-title">
              {{ member.title }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="elections-section">
  <div class="inner-section">
    {% if page.elections.open == true %}
    <div class="elections-intro">
      <h2 class="intro-title">{{ page.elections.title }}</h2>
      <div class="intro-text">
        {{ page.elections.text | markdownify }}
      </div>
      <a href="{{ page.elections.button.link}}" class="btn {% if page.elections.button.visible == false %}hidden{% endif %}">{{ page.elections.button.text }}</a>
    </div>
    {% endif %}
    <div class="positions-list">
      {% for position in page.members.list %}
      <div class="position">
        <h3 class="position-title">{{ position.title }}</h3>
        <div class="position-description">{{ position.description | markdownify }}</div>
        {% if position.candidates.size > 0 %}
        {% if page.elections.open == true %}
        <div class="position-candidates">
          <h4 class="candidates-title">Candidates</h4>
          <div class="candidate-list">
            {% for candidate in position.candidates %}
          <div class="candidate-col">
            <div class="candidate">
              <div class="candidate-image">
                <div class="image-placeholder">
                  <i class="fa fa-user"></i>
                </div>
                {% if candidate.image != '' %}
                <img src="{{ candidate.image }}" class="image"/>
                {% endif %}
                
              </div>
              <h5 class="candidate-name">{{ candidate.name }}</h5>
              <a class="statement-toggle" href="#">Statement</a>
              <div class="statement-overlay">
                
                <div class="candidate-statement">
                  <div class="close-statement-overlay"><span>&times;</span></div>
                  <div class="statement-content">
                    <div class="candidate-image">
                      <div class="image-placeholder">
                        <i class="fa fa-user"></i>
                      </div>
                      {% if candidate.image != '' %}
                      <img src="{{ candidate.image }}" class="image"/>
                      {% endif %}
                    </div>
                    <h4 class="statement-name">{{ candidate.name }}</h4>
                    <div class="statement-position">{{ position.title }}</div>
                    
                    <div class="statement-text">
                      {{ candidate.statement | markdownify }}
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="minutes-section">
  <div class="inner-section">
    <h2 class="section-title">{{ page.bylaws-minutes.title }}</h2>
    <h3>{{ page.bylaws-minutes.bylaws.title }}</h3>
    <div class="bylaws-text">{{ page.bylaws-minutes.bylaws.text | markdownify }}</div>
    <h3>{{page.bylaws-minutes.minutes.title}}</h3>
    <div class="seasons-list">
      {% for season in page.bylaws-minutes.minutes.seasons %}
      <div class="season">
        <a class="season-title" href="#"><h4 >{{ season.title }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></h4></a>
        <div class="minutes-list">
          {% for minute in season.minutes %}
          <div class="minute">
            <a class="minute-link" href="{{ minute.link }}">{{ minute.title }}</a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>