---
title: Home
layout: default
permalink: /
slick: true
css: home
content-id: home
scripts: 
- home
hero: 
  title: Get off the bench<br>Get in the game!
  text: |-
    Welcome to the website for the DC Gay Flag Football League (DCGFFL), DC’s premier gay flag football league. The DCGFFL started informally in 1994 and became an official league in 2010. Since its early beginnings, the league has grown to over 200 players and has fielded as many as 20 teams in a season!  We’re a fun community of athletes, family, and friends, and we hope you’ll join and get to know us!
  button: 
    text: Play
    link: '#play-options'
  placeholder: /img/home-hero-placeholder.jpg  
play-options: 
- title: The League
  text: |-
    The league is open to all skill levels, from those who have played for years to those who have never been on a football field. Additionally, is it a fellowship for both LGBTQ+ individuals and straight allies. Come check out our games, meet some amazing people, and consider joining us as a player!
  image: /img/league-option.jpg
  button: 
    text: Learn more
    link: 
- title: Recreation League
  text: |-
    The Recreation League is a supplemental league that runs in tandem to the regular league and is primarily for those who want to develop their skills, try new positions, or try out the DCGFFL for the first time.  The Recreation League is open to everyone, even those not playing in the regular season.
  image: /img/rec-option.jpg
  button: 
    text: Learn more
    link: /recreation-league/
- title: Travel Program
  text: The DCGFFL’s wealth of talent comes together annually to represent DC at two national tournaments — Pride Bowl (Chicago, early June) and Gay Bowl (annually rotating city, early fall). 2019 was a phenomenal year for the DCGFFL Travel Program, every single DC team made the semifinals at Gay Bowl and for the second year in a row, the Generals took home the championship! We are incredibly proud of all our players!
  image: /img/travel-program-option.jpg
  button: 
    text: Learn more
    link: /travel-program/
- title: Rules & Policies 
  text: The DC Gay Flag Football League follows the most recently adopted Gay Bowl rules, as written by the National Gay Flag Football League.
  image: /img/rules-option.jpg
  button: 
    text: Learn more
    link: /rules/    
sponsors:
  title: Sponsors
  text: Sponsorships are tax deductible and bring showcase your business to a local, diverse audience.
  button: 
    title: Become a Sponsor
    link: /sponsors/
  
---
<section id="home-hero">
 <div class="hero-grid">
   <div class="hero-col image-col">
    <div id="photo-slider">
      <img class="hero-placeholder" src="{{ page.hero.placeholder }}">  
    </div> 
   </div>
   <div class="hero-col text-col">
     <div class="hero-content">
      <h1 class="hero-title">{{ page.hero.title }}</h1>
      <div class="hero-text">
        {{ page.hero.text | markdownify }}
      </div>
      <a class="btn" href="{{ page.hero.button.link }}">{{ page.hero.button.text }}</a>
     </div>
   </div>
 </div> 
</section>
<section id="scoreboard-section">
  <div class="scoreboard-feed">
    {% assign recent-games = site.games | reverse %}
    {% for game in recent-games limit: 20 %}
    <div class="game-slide">
      <div class="game">
        <div class="date-col">
          <a href="/score-board/?week=Season%20{{ game.season }}%20Week%20{{game.week}}">
          <h6 class="game-date">{{ game.date | date: '%-m/%-e'}}</h6>
          <h6 class="game-time">{{ game.date | date: '%l:%M%P' }}</h6>
          </a>
        </div>
        <div class="scores-col">
          {% assign topscore = game.teams-score | sort: 'score' | reverse | first %}
          {% for item in game.teams-score %}
          <div class="team-row {% if item.score == topscore.score %}winner{% endif %}">
            <div class="team">
              {% for team in site.teams %}
              {% if team.path == item.team %}
              <a href="{{ team.url }}">{{ team.color }}</a>
              {% endif %}
              {% endfor %} 
            </div>
            <div class="score">
              {% if item.score.size > 0 %}
              {{ item.score }}
              {% else %}
              --
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="btn-row">
    <a class="btn" href="/score-board/">Scoreboard</a>
  </div>
</section>
<section id="play-options">
  <h2 class="section-title">Play</h2>
  <div class="inner-section">
    <div class="options-list">
      {% for option in page.play-options %}
      <div class="option">
        <div class="option-grid {% cycle 'odd','even' %}">
          <div class="option-col image-col">
            <img src="{{ option.image }}"/>
          </div>
          <div class="option-col text-col">
            <div class="option-content">
              <h3 class="option-title">{{ option.title }}</h3>
              <div class="option-text">
                {{ option.text | markdownify }}
              </div>
              <div class="option-button">
                <a class="btn" href="{{option.button.link }}">{{ option.button.text }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="news-events-section">
  <div class="inner-section">
    <h2>News & Events</h2>
    <div class="news-block">
      <h3>News</h3>
      <div class="news-feed">
        {% for post in site.posts limit: 10 %}
        <div class="news-block">
          <div class="post">
            <h4 class="post-title">{{ post.title }}</h4>
            <h5 class="post-date">{{ post.date | date: '%B %e, %Y' }} </h5>
            <div class="post-snippet">{{ post.content | strip_html | truncate: 200, '...' }}</div>
            <a class="post-link" href="{{ post.url }}">Read more</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="btn-row">
        <a href="/news/" class="btn">View News</a>
      </div>
    </div>
    <div class="event-block">
      <h3>Events</h3>
      <div class="events-feed">
        {% assign events = site.events | where_exp: "item", "item.date > site.time"  %}
        {% if events.size < 1 %}
        <div>There are no upcoming events. Please </div>
        {% else %}
        {% for event in events %}
        <div class="event-slide">
          <div class="event">
            <div class="date-col">
              <h5 class="event-date">
                <span class="date-month">{{ event.date | date: "%b" }}</span><br>
                <span class="date-day">{{ event.date | date: "%e" }}</span>
              </h5>
            </div>
            <div class="info-col">
              <h4 class="event-title">{{ event.title }}</h4>
              <h5 class="event-time">{{ event.time }}</h5>
              <div class="event-desc">{{ event.content | strip_html | truncate: 95, '...' }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="btn-row">
        <a href="/events/" class="btn">View Events</a>
      </div>
    </div>
  </div>
</section>

<section id="supporters-section">
  <div class="inner-section">
    <div class="title-block">
      <h2>{{ page.sponsors.title }}</h2>
    {{ page.sponsors.text | markdownify }}
    <a href="{{ page.sponsors.button.link }}" class="btn">{{ page.sponsors.button.title }}</a>
    </div>
    
    <div class="inner-section">
      <h3 class="supporter-heading">Featured Sponsors</h3>
      <div class="featured-supporters">
        {% assign featured-sponsors = site.sponsors | where: 'featured', true %}
        {% for sponsor in featured-sponsors %}
        <div class="supporters-slide">
          <div class="slide-content">
            <div class="image-col">
              <a href="{{ sponsor.link }}">
                <img class="supporter-logo" src="{{ sponsor.image }}"/>
              </a>
            </div>
            <div class="content-col">
              <div class="supporter-content">
                <h4 class="supporter-name">{{ sponsor.title }}</h4>
              <div class="supporter-text">{{ sponsor.description }}</div>
              <a href="{{ sponsor.website }}" class="supporter-link btn">Visit Site</a>
              </div>
              
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {%- assign other-sponsors = site.sponsors | where: 'featured', false -%}
      <h3 class="supporter-heading">Valued Sponsors</h3>
      <div class="supporters-grid">
      {%- for sponsor in other-sponsors -%}
        <div class="supporter-col">
          <a class="supporter-link" href="{{ sponsor.website }}">
            <img class="supporter-logo"  src="{{ sponsor.image }}"/>
            <div class="link-overlay">
              <h4 class="supporter-name">{{ sponsor.title }}</h4>
            </div>
          </a>
        </div>
      {%- endfor -%}
      </div>
      </div>
    </div>
  </div>
</section>
