---
_enabled_editors:
  - data
_inputs:
  $.hero.placeholder:
    type: file
  $.play-options:
    type: array
    label: Play section
    options:
      structures: _structures.play-options
  $.sponsors-section.text:
    type: textarea
title: Home
layout: default
permalink: /
slick: true
css: home
content-id: home
scripts:
  - home
hero:
  title: Get off the bench<br>Get in the game!
  text: >-
    Welcome to the website for the DC Gay Flag Football League (DCGFFL), DC’s
    premier LGBTQ+ flag football league. The DCGFFL started informally in 1994
    and became an official league in 2010. Since its early beginnings, the
    league has grown to over 200 players and has fielded as many as 20 teams in
    a season!  We’re a fun community of athletes, allies, family, and friends,
    and we hope you’ll join and get to know us!


    Check News and Events for info on how to register!
  button:
    text: News & Events
    link: '#news-events-section'
    visible: true
  placeholder: /img/home-hero-placeholder.jpg
  album-id: '72157719725776393'
play-options:
  - title: Open Division
    text: >-
      The Open Division is open to all skill levels, from those who have played
      for years to those who have never been on a football field. Additionally,
      is it a fellowship for both LGBTQ+ individuals and straight allies. Come
      check out our games, meet some amazing people, and consider joining us as
      a player!
    image: /img/53739454106-8c461d1c20-w.jpg
    button:
      text: Learn more
      link: /league/
  - title: Women's+ Division
    text: >-
      The Women's+ Division is open to all skill levels, from those who have
      played for years to those who have never been on a football field.
      Additionally, is it a fellowship for both LGBTQ+ individuals and straight
      allies. Come check out our games, meet some amazing people, and consider
      joining us as a player!
    image: /img/53658279857-bc16fba8bd-c.jpg
    button:
      text: Learn More
      link: /womensplus-league/
  - title: Recreation Division
    text: >-
      The Recreation division is a supplemental league that runs in tandem to
      the regular league and is primarily for those who want to develop their
      skills, try new positions, or try out the DCGFFL for the first time.  The
      Recreation division is open to everyone, even those not playing in the
      regular season.
    image: /img/screenshot-2024-07-22-195259.png
    button:
      text: Learn more
      link: /recreation-league/
  - title: Travel Program
    text: >-
      The DCGFFL’s wealth of talent comes together annually to represent DC at
      two national tournaments — Pride Bowl (Chicago, early June) and Gay Bowl
      (annually rotating city, early fall). 2019 was a phenomenal year for the
      DCGFFL Travel Program, every single DC team made the semifinals at Gay
      Bowl and for the second year in a row, the Generals took home the
      championship! We are incredibly proud of all our players!
    image: /img/travel-program-option.jpg
    button:
      text: Learn more
      link: /travel-program/
  - title: Rules & Policies
    text: >-
      The DC Gay Flag Football League follows the most recently adopted Gay Bowl
      rules, as written by the National Gay Flag Football League.
    image: /img/53707946121-da795bccda-w.jpg
    button:
      text: Learn more
      link: /rules/
sponsors-section:
  title: Sponsors
  text: >-
    Sponsorships are tax deductible and showcase your business to a local,
    diverse audience.
  button:
    text: Learn more
    link: /sponsors/
---
{% include slider-hero.html %}
{% include scoreboard-feed.html games=site.games teams=site.teams league='_pages/league.html' scoreboard="/score-board/" %}
<section id="play-options">
  <h2 class="section-title">Play</h2>
  <div class="inner-section">
    <div class="options-list">
      {% for option in page.play-options %}
      <div class="option">
        <div class="option-grid {% cycle 'odd','even' %}">
          <div class="option-col image-col">
            <img src="{{ option.image | resize: '512x>' }}" />
          </div>
          <div class="option-col text-col">
            <div class="option-content">
              <h3 class="option-title">{{ option.title }}</h3>
              <div class="option-text">
                {{ option.text | markdownify }}
              </div>
              <div class="option-button">
                <a class="btn" href="{{option.button.link }}">{{ option.button.text }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="news-events-section">
  <div class="inner-section">
    <h2>News & Events</h2>
    <div class="news-block">
      <h3>News</h3>
      <div class="news-feed">
        {% for post in site.posts limit: 5 %}
        <div class="news-block">
          <div class="post">
            <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <h6 class="post-date">{{ post.date | date: '%B %e, %Y' }} </h6>
            <div class="post-snippet">{{ post.content | markdownify | strip_html | truncate: 200, '...' }}</div>
            <a class="post-link" href="{{ post.url }}">Read more</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="btn-row">
        <a href="/news/" class="btn">View News</a>
      </div>
    </div>
    <div class="event-block">
      <h3>Events</h3>
      {% assign events = site.events | where_exp: "item", "item.date > site.time"  %}
        {% if events.size < 1 %}
        <div class="no-events">There are no upcoming events. Select the View Events button below to view past events.</div>
        {% else %}
      <div class="events-feed">
        {% for event in events %}
        <div class="event-slide">
          <div class="event">
            
            <div class="date-col">
              <h5 class="event-date">
                <span class="month">{{ event.date | date: "%b" }}</span><br />
                <span class="day">{{ event.date | date: "%e" }}</span>
              </h5>
            </div>
            <div class="info-col">
              <h4 class="event-title"><a href="{{ event.url }}">{{ event.title }}</a></h4>
              <h6 class="event-time">{{ event.time }}</h6>
              <div class="event-desc">{{ event.content | markdownify | strip_html | truncate: 95, '...' }}</div>
              <a href="{{ event.url }}" class="event-link">View event</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="btn-row">
        <a href="/events/" class="btn">View Events</a>
      </div>
    </div>
  </div>
</section>


{% include sponsors-section.html %}