---
title: League
permalink: "/league/"
season: 21
week: 1
scoreboard:
  no-scores: There are no scores for this season at the moment.
schedule:
  title: This week's games
  no-games: No games scheduled.  Seasons run in the Fall from after Labor Day to before
    Thanksgiving, and in the Spring from the first week in March to the last week
    of May.
hero:
  title: The League
  text: The league is open to all skill levels, from those who have played for years
    to those who have never been on a football field. Additionally, is it a fellowship
    for both LGBTQ+ individuals and straight allies. Come check out our games, meet
    some amazing people, and consider joining us as a player!
  image: "/img/league-hero.jpg"
  button:
    text: Register
    link: "#register-section"
    visible: true
register:
  title: Get in the game!
  text: |-
    Registration for ALL players, returning or rookie, is open starting July 27, at 7pm!

    The registration form will go live at 7pm!  If the form still shows as pending, refresh your browser.  Space is limited, so register immediately to secure your spot!
  button:
    text: REGISTER HERE
    link: https://forms.gle/JTUwxEe9x2RSRazF7
    visible: true
playoffs:
  title: Playoffs
  text: Playoffs are scheduled for next week! Follow the link below for information
    on games.
  button:
    text: View bracket
    link: "/playoffs/"
  visible: false

---
{% include hero.html %}
{% include scoreboard-feed.html teams=site.teams games=site.games %}
{% include playoffs.html %}
{% include schedule-feed.html games=site.games teams=site.teams schedule-link='/schedule/' %}
{% include teams.html teams=site.teams %}
{% include registration.html %}