---
title: DCGFFL Board Meeting Minutes
permalink: /meeting-minutes/
css: minutes
content-id: minutes-page
scripts:
- minutes
resources: 
  title: Additional Resources
  items:
  - title: 'National Gay Flag Football League (NGFFL) Gay Bowl Rules'
    link: '/img/Gay-Bowl-Rules-4.3.pdf'
seasons: 
- title: Season XX
  minutes:
  - title: 'Fall 2020 Player Survey | 08/18/2020'
    link: '/fall-2020-player-survey-results/'
  - title: 'Board Meeting Minutes | 07/01/2020'
    link: 'https://docs.google.com/document/d/1XklZIoqyUj80FWqZNt0mKVZKhEqFVaiNby9Crxt2vB4/edit?usp=sharing'
  - title: 'Board Meeting Minutes | 06/10/2020'
    link: 'https://docs.google.com/document/d/14ingwG5bawAbt2it0Mk-Hlb0jug4v7rldMhybdCxCS8/edit?usp=sharing'
  - title: 'Board Meeting Minutes | 05/27/2020'
    link: 'https://docs.google.com/document/d/10BzeRk-3R8JDozdeyFs8IqztR-4IumgOpmvoJ7ursxI/edit?usp=sharing'
  - title: 'Retreat Minutes | 1/3/2020 – 1/5/2020'
    link: 'https://docs.google.com/document/d/1907R9hYDJbDNNg23Vxn4pZaEgA5nTD-OS2RaKzr7AFs/edit?usp=sharing'
- title: 'Season XVIII'
  minutes:
  - title: 'Board Meeting Minutes | 04/22/2019'
    link: https://docs.google.com/document/d/1B49J_qJTBKxzQAgo46ac2aVQeEzBpXvujYZ4go6BuR0/edit?usp=sharing
  - title: 'Board Meeting Minutes | 04/02/2019'
    link: 'https://docs.google.com/document/d/1x-APP4yhtUQVXvGnzyu3iaY4doLJ4HjkHLFVPgyeFwc/edit?usp=sharing'
  - title: 'Board Meeting Minutes | 03/05/2019'
    link: 'https://docs.google.com/document/d/1gzvZHBAgA9gdlwLUs7BU7frZqDzd-x1xqqFRPkYoSqQ/edit?usp=sharing'
  - title: 'Retreat Meeting Minutes | 01/20/2019'
    link: 'https://drive.google.com/file/d/1HbZ406kEvGc8TsIm_P1J24QoaFp6J_dy/view?usp=sharing'
- title: 'Prior Seasons'
  minutes:
  - title: 'Meeting | 08/29/2018'
    link: https://docs.google.com/document/d/1JVclqogO2vU7YHsHji2QLAc5RbIQfQSZfud2iovzUxE/edit?usp=sharing
  - title: 'Retreat | 07/06/2018  – 07/08/2018'
    link: 'https://docs.google.com/document/d/1ca4EXdsAxIIh4J2sg6SRxjUUK_Vvqp73cRuWeuwWN_8/edit?usp=sharing'
  - title: 'Meeting | 07/02/2018'
    link: 'https://docs.google.com/document/d/1fHmP2TyrqogshqIBw17B2PMYD1qEcDSx__roDj07RbQ/edit?usp=sharing'
  - title: 'Meeting | 06/11/2018'
    link: 'https://docs.google.com/document/d/1RzUPc49wy6Kb1aPagQD2OJq4DAvMJNQ-lmnCLYE4xKM/edit?usp=sharing'
  - title: 'DCGFFL | 02-13-2018 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/1JVclqogO2vU7YHsHji2QLAc5RbIQfQSZfud2iovzUxE/edit?usp=sharing'
  - title: 'DCGFFL | 01-31-2018 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/1j7meFfbvAgwPcjbvevrUKeQOmReMpe424eWBaFAFeQA/edit?usp=sharing'
  - title: 'DCGFFL Season XVI Board Retreat Minutes'
    link: 'https://docs.google.com/document/d/1GLaaYzl5RRsvf6HFaGpQK32fAiyns4mHmYluZjXMmkc/edit?usp=sharing'
  - title: 'DCGFFL | 01-10-2018 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/1GHo1ecaI4bBcyYFw78r10r2PQnTAPQbtWNnY_uvfLiM/edit?usp=sharing'
  - title: 'DCGFFL | 11-18-2017 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/1x_ShjmqC2oxPIRXcWWtAwYlJ6GlCjUU6BLb8_LQ3ccM/edit?usp=sharing'
  - title: 'DCGFFL | 11-06-2017 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/17SWTkt3bb2IgGLW3NZoP98WG6zgzdpbaNTh1zPIM7_A/edit?usp=sharing'
  - title: 'DCGFFL | 10-17-2017 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/1kt5b7aphSBkPkeSoPu0LwbB5OkYRTkvIDWS0jpUbRpk/edit?usp=sharing'
  - title: 'DCGFFL | 9-20-2017 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/1k10D-nCjjAjWmBld21CzX9gJi6s5AZtDKa6-QyehH2M/edit?usp=sharing'
  - title: 'DCGFFL | 8-7-2017 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/1QzBYRPMvBwTgcHV6AiefHArlIG8tFIH5kP7GfkGXGFk/edit?usp=sharing'
  - title: 'DCGFFL Season XV Board Retreat Minutes'
    link: 'https://docs.google.com/document/d/1feztVfeaxE0UEWOy0HGgi8pR3Yb7mCNYikv-O7zDe2E/edit?usp=sharing'
  - title: 'DCGFFL | 05-31-2017 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/1j0YRg3WgCXDax8a55UBzCFcC52UFAXpJgZlX51yX5iQ/edit?usp=sharing'   
  - title: 'DCGFFL | 03-28-2016 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/14hjD0RZMkyWcWgaG9rBg4-qPDZGuRi_u3su9DCtRDiM/edit'   
  - title: 'DCGFFL | 03-07-2016 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/1RB9lnhHZVY2B5JA6m41pbQU516Z-NEA0u0as-pe1xjA/edit'
  - title: 'DCGFFL | 02-17-2016 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/17qepK1AL6sEu_v9_px7qjKpsfWIxfdijxCyjSDrq0C0/edit'
  - title: 'DCGFFL | 02-01-2016 | Board Meeting Minutes'
    link: 'https://docs.google.com/document/d/1JUAqhboHnWXuS6zQOKTKGBe7Y47K7eytNud16yfgPo4/edit'
  - title: 'DCGFFL | Bylaws | Revised February 2016'
    link: 'https://drive.google.com/open?id=0B9phGnY4E0R6ajJETlV5VTQ2TEk'  
  - title: 'DCGFFL | Season XII | Board Retreat Minutes'
    link: 'https://docs.google.com/document/d/1h5HTzSHTM3jYXv4nQDM7Rdzd7J_ArkrkGlNvIB4gpwY/edit'
  - title: 'DCGFFL | Bylaw Revision Meeting Minutes'
    link: '/img/DCGFFL-Bylaw-Revision-Meeting-Minutes.pdf'    
---
<section id="minutes-section">
  <div class="inner-section">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="seasons-list">
      {% for season in page.seasons %}
      <div class="season">
        <a class="season-title" href="#"><h4 >{{ season.title }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></h4></a>
        <div class="minutes-list">
          {% for minute in season.minutes %}
          <div class="minute">
            <a class="minute-link" href="{{ minute.link }}">{{ minute.title }}</a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="resources-section">
  <div class="inner-section">
    <h2>{{ page.resources.title }}</h2>
    <div class="resources-list">
      {% for item in page.resources.items %}
      <div class="resource">
        <a href="{{ item.link }}" class="resource-link">{{ item.title }}</a>
      </div>
      {% endfor %}
    </div>
    
  </div>
</section>