---
title: Playoffs
permalink: playoffs
css: playoffs 
content-id: playoff-lp
intro: 
  title: Season 20 Playoffs
  text: The playoffs are here. See the matchups and results. 
  button:
    text: View Bracket
    link: '/playoffs/season-20-playoffs/' 
    visible: true
results:
  title: 'Past Playoffs'  
---
<section id="playoff-intro">
  <div class="inner-section">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="intro">
      <h2 class="intro-title">{{ page.intro.title }}</h2>
      <div class="intro-text">
        {{ page.intro.text | markdownify }}
      </div>
      <a class="btn {% if page.intro.button.visible == false %}hidden{% endif %}" href="{{ page.intro.button.link }}">{{ page.intro.button.text }}</a>
    </div>
  </div>
</section>
<section id="results-section">
  <div class="inner-section">
    <h2 class="results-title">{{ page.results.title }}</h2>
    {% assign past-playoffs = site.playoffs | where_exp: 'playoff', 'playoff.champion != ""' %}
    <div class="playoffs-list">
      {% for playoff in past-playoffs %}
      <div class="playoff-block">
        <div class="playoff">
          <h4 class="playoff-season">Season {{ playoff.season }}</h4>
          <div class="playoff-champ">
            {% assign champion = site.teams | where: "path", playoff.champion | first %}
            <div class="champ-label">Champion</div> <h5 class="champ-team">{{ champion.name }} ({{ champion.color }})</h5>
          </div>
          <div class="playoff-link">
            <a href="{{ playoff.url }}">View results</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>