---
title: Recreation League
permalink: "/recreation-league/"
css: rec-league
content-id: rec-league-home
season: 22
week: 1
scripts:
- rules
scoreboard:
  no-scores: There are no scores for this season at the moment.
schedule:
  title: This week's games
  no-games: No games scheduled.
hero:
  title: Recreation League
  text: |-
    The Recreation League is a supplemental league that runs in tandem to the regular league and is primarily for those who want to develop their skills, try new positions, or try out the DCGFFL for the first time.  The Recreation League is open to everyone, even those not playing in the regular season.

    This season’s game dates are Fridays April 8, April 22, April 29 (regular games), and May 6 (playoffs and championship game). Games begin at 6:30 PM, and warm-ups may begin as early as 6 PM. This season’s regular games will be played at [Brentwood Hamilton Fields](https://www.google.com/maps/place/Brentwood+Hamilton+Park/@38.9086476,-76.9980012,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7b8111dbabfe5:0xff56d0cac082a794!8m2!3d38.9086476!4d-76.9958072), located at 1300 6th St NE, Washington, DC 20002. The playoffs and championship game will be played at The Fields at RFK Campus, 401 Oklahoma Ave NE, Washington, DC 20002.

    Historically, games have also been played on Fridays in mid-April and mid-October at other fields such as Trinidad Recreation Center.
  image: "/img/rec-league-hero.jpg"
  button:
    text: Register
    link: "#register-section"
    visible: true
register:
  title: Register
  text: Register here for the Recreation League!  Or, sign up for our mailing list
    for more info and other opportunities to participate (see link at bottom of page).
  button:
    text: Register Here
    link: https://forms.gle/yaozCigaTWgm3eUL8
    visible: true
rules:
  title: Rules & Policies
  items:
  - title: Captains and QBs
    text: |-
      Captains are selected from veterans of the regular league. Previous captaining experience is not required.

      Each team has one or two QBs.  One QB may be a veteran QB who is or has QB’d in the regular league. This gives Rec players more consistent throws and play calling. The second QB is one who would like to QB for the regular league or would just like to try his or her hand at running an offense. Quarterbacks will switch every offensive series or half or as decided by the captains and QBs. However, secondary QBs must play at least one half if present.
  - title: Restricted Players
    text: "Highly skilled players (e.g. travel team players or consistent MVP recipients)
      may be restricted at the captains’ discretion. These players will be denoted
      on the team rosters with bold and are limited in the following ways:\n\n1. They
      cannot play their normal offensive and/or defensive position.\n2. They may catch
      or intercept the ball, but they cannot advance it.\n\nGenerally, these are players
      on a travel team or those who consistently obtain MVPs in the regular season.\n\nThe
      mission is to make the Recreation League a place where everyone has the chance
      to participate on both offense and defense.    "
playoffs:
  title: Playoffs
  text: Playoffs took place Friday, November 5, 2021.  See the results here.
  button:
    text: View bracket
    link: "/recreation-league/playoffs/"
  visible: true

---
{% include hero.html %}
{% include scoreboard-feed.html games=site.rec-games teams=site.rec-teams scoreboard='/recreation-league/score-board/' %}
{% include playoffs.html %}
{% include schedule-feed.html games=site.rec-games teams=site.rec-teams schedule-link="/recreation-league/schedule/" %}
{% include teams.html teams=site.rec-teams %}
{% include registration.html %}
<section id="rules-section">
  <div class="inner-section">
    <h2>{{ page.rules.title }}</h2>
    <div class="rules-list">
      {% for rule in page.rules.items %}
      <div class="rule">
        <div class="rule-title">
          <h4 class="title-text">{{ rule.title }}</h4>
          <div class="rule-toggle">
            <i class="fa fa-chevron-down"></i>
          </div>
        </div>
        <div class="rule-text">
          {{ rule.text | markdownify }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>