---
title: Scores & Schedule
permalink: /score-board/
css: scoreboard
content-id: scoreboard
scripts: 
- scoreboard
week: 1
season: 20
---
<section id="scores-section">
  <div class="inner-section">
    <div class="upcoming-games">
      <h2>This Week's Games</h2>
      <div class="games-list">
        {% assign recent-games = site.games | sort: date | where_exp: "item", "item.week == page.week" | where_exp: "item", "item.season == page.season" %}
        {% assign all-games = site.games | sort: date | reverse %}
        {% for game in all-games %}
        <div class="game {% if page.week != game.week and page.season != week.season %}hidden{% endif %} " data-week="Season {{ game.season}} Week {{ game.week}}" >
          <div class="teams">
            <div class="matchup">
              <div class="team-score">
                {% assign team1 = site.teams | where: "path", game.teams-score[0].team | first %}
                <h3 class="team">
                  <a href="{{ team1.url }}">
                  {% if team1.name and team1.name != '' %}
                    {{ team1.name }}
                  {% else %}
                    {{ team1.color }}
                  {% endif %}
                  </a>  
                </h3>
                {% if game.teams-score[0].score and game.teams-score[0].score != '' %}
                <h4 class="score {% if game.teams-score[0].score > game.teams-score[1].score%}winner{% endif %}">
                  {{ game.teams-score[0].score }}
                </h4>
                {% endif %}
              </div>
              <div class="versus">
                <div class="game-date-time">
                  <div class="game-date">{{ game.date | date: "%-m/%-d" }}</div>
                  <div class="game-time">{{ game.date | date: "%l:%M %p" }}</div>
                </div>
                <div class="field-info">
                  <a href="{{ game.location.link }}">{{ game.location.title }} <i class="fa fa-map-marker-alt"></i></a>
                  {% if game.location.field and game.location.field != '' %}
                  <div class="field">Field {{ game.location.field }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="team-score">
                {% assign team2 = site.teams | where: "path", game.teams-score[1].team | first %}
                <h3 class="team">
                  <a href="{{ team2.url }}">
                  {% if team2.name and team2.name != '' %}
                    {{ team2.name }}
                  {% else %}
                    {{ team2.color }}
                  {% endif %}
                  </a>  
                </h3>
                {% if game.teams-score[1].score and game.teams-score[1].score != '' %}
                <h4 class="score {% if game.teams-score[1].score > game.teams-score[0].score%}winner{% endif %}">
                  {{ game.teams-score[1].score }}
                </h4>
                {% endif %}
              </div>
            </div>
            <div class="highlights">
              <h5>Highlights</h5>
              <div class="highlight"><b>MVP:</b> {{ game.mvp}}</div>
              <div class="highlight"><b>Gameball:</b> {{ game.game-ball }}</div>
              <div class="highlight"><b>Sportsperson:</b> {{ game.sportsperson }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="games-archive">
      <div class="rankings">
        <h3>Rankings</h3>
        {% assign divisions = site.teams | where: "season", page.season | group_by: 'division' %}
        {% assign games = site.games | where: "season", page.season %}
        {% for division in divisions %}
        <div class="division">
          <h4>{{ division.name }}</h4>
          <div class="conf-teams">
            {% for team in division.items %}
            <div class="team">
              <a class="team-name" href="{{ team.url }}">
              {% if team.name and team.name != "" %}
              {{ team.name }}
              {% else %}
              {{ team.color }}
              {% endif %}
              </a>
              <div class="team-record">
                {% assign wins = 0 %}
                {% assign losses = 0 %}
                {% for game in games %}
                    {% if game.teams-score[0].score > game.teams-score[1].score and game.teams-score[0].team == team.path  %}
                    {% assign wins = wins | plus: 1 %}
                    {% endif %}

                    {% if game.teams-score[0].score < game.teams-score[1].score and game.teams-score[0].team == team.path  %}
                    {% assign losses = losses | plus: 1 %}
                    {% endif %}

                    {% if game.teams-score[1].score > game.teams-score[0].score and game.teams-score[1].team == team.path  %}
                    {% assign wins = wins | plus: 1 %}
                    {% endif %}

                    {% if game.teams-score[1].score < game.teams-score[0].score and game.teams-score[1].team == team.path  %}
                    {% assign losses = losses | plus: 1 %}
                    {% endif %}
                {% endfor %}
                <span class="wins">{{ wins }}</span> - <span class="losses">{{ losses }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
          
        {% endfor %}
      </div>
      {% assign seasons = site.games | group_by: "season" | reverse %}
      <div class="seasons">
        <h3>Past Seasons</h3>
        {% for season in seasons %}
        <div class="season">
          <h4 href="#" class="season-title">Season {{ season.name }}</h4>
          <div class="season-weeks">
            {% assign weeks = "" | split: "" %}
            {% for item in season.items %}
            {% assign weeks = weeks | push: item.week | uniq %}
            {% endfor %}
            {% for week in weeks %}
            <div class="week">
              <a href="#" class="week-link" data-week="Season {{ season.name }} Week {{ week }}">Week {{ week }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>