---
title: Sponsors
permalink: "/sponsors/"
content-id: sponsors-page
css: sponsors
slick: true
form-success: Thanks for your interest in sponsoring the DCGFFL. Someone from the
  league will be in contact with you soon.
sponsors:
- title: Imperial Court of Washington DC
  image: "/img/icwdc-logo.jpg"
  website: http://www.imperialcourtdc.org/
  description: From the Heart, Through the Court, For the Community!
  featured: false
- title: League of Her Own
  image: "/img/leagueofherown.png"
  website: https://www.pitchersbardc.com/
  description: We pride ourselves on offering a safe space for our Queer women and
    with our fantastic manager Jo McDaniel and amazing staff you’re sure to have a
    great time.
  featured: true
- title: Nellie's Sports Bar
  image: "/img/nellies_logo_black.png"
  website: https://www.nelliessportsbar.com/
  description: 'Eat, Drink, and Be Nellie! Follow us to stay up-to-date on the latest
    at DC''s #1 Sports Bar!'
  featured: true
- title: Physio DC
  image: "/img/physiodc-logo.png"
  website: https://www.physiodc.com/
  description: 'PhysioDC is a unique, physical therapist owned and operated rehabilitation
    clinic conveniently located in downtown Washington, D.C. '
  featured: false
- title: Pitchers Sports Bar
  image: "/img/pitchers-logo.png"
  website: https://www.pitchersbardc.com/
  description: Adams Morgan's gay sports bar
  featured: true
- title: Price Medical
  image: "/img/pricelogo2c.png"
  website: https://www.pricemedical.com/
  description: Price Medical believes health care means more than just medical treatment.
    We go beyond that. We strive to build long-lasting relationships with each of
    our patients. Price Medical provides state-of-the-art, personalized internal medicine,
    primary care, and HIV specialty care.
  featured: false
- title: Residential Mortgage Center, Inc.
  image: "/img/rmc_logo.jpg"
  website: http://residentialmortgagecenterinc.proiwebsites.com/Home
  description: Welcome to Residential Mortgage Center, Inc., where we combine superb
    client relations with comprehensive expertise in the mortgage industry. We are
    your local mortgage broker, serving the Maryland, Virginia, and Washington, D.C.
    area.
  featured: false
- title: The Dirty Goose
  image: "/img/tdg_black_rainbow.png"
  website: https://thedirtygoosedc.com/
  description: Located in the heart of DC’s U-Street Corridor, The Dirty Goose Bar
    embodies the energy of New York City with the laid-back atmosphere of Atlanta.
    Come enjoy our premium craft cocktails, martinis, and great company.
  featured: true
reasons:
  title: Why Sponsor The League?
  items:
  - Sponsorship will help get your business in the eyes of a very loyal group of people.
  - The league creates a sense of community for the players. Networking and socializing
    off the field is a core part of why many players joined the league, which means
    we are always looking for reasons and places to get together.
  - This is where you come in. Whether it’s having a team dinner or watching our favorite
    sports, we’re loyal to our sponsors and eager to show our appreciation for the
    businesses that support us.
  - In addition, we attract a fairly robust set of spectators and friends who will
    not only see your logo throughout the season, but also join us for post-game celebrations.
  - All sponsorships are tax deductible. We are a registered 501(c)(3).
  - Finally, many players comment on how the league enriches their lives and creates
    a desired sense of community. By sponsoring the league, you help make people happier.
    And that’s some good karma any day!
  button:
    text: Become a sponsor
    link: "#sponsor-form"

---
<section id="reasons-section">
  <div class="inner-section">
    <h2 class="reasons-title">{{ page.reasons.title }}</h2>
    <div class="reasons-list">
      {% for reason in page.reasons.items %}
      <div class="reason-col">
        <div class="reason">
          {{ reason }}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="cta">
      <a href="{{ page.reasons.button.link }}" class="btn">{{ page.reasons.button.text }}</a>
    </div>
  </div>
</section>
{% include sponsors-section.html %}