---
title: Sponsors
permalink: "/sponsors/"
content-id: sponsors-page
css: sponsors
slick: true
form-success: Thanks for your interest in sponsoring the DCGFFL. Someone from the
  league will be in contact with you soon.
sponsors:
- title: The Majority Group
  image: "/img/majority_group2.jpg"
  website: https://www.majoritygroup.com/
  description: ''
  featured: false
- title: NGLCC
  image: "/img/nglcc.png"
  website: http://www.nglcc.org/
  description: ''
  featured: false
- title: Aspen Jewelry Designs
  image: "/img/aspen_jewelry_designs2.png"
  website: https://www.aspendesigns.net/
  description: ''
  featured: false
- title: Residential Mortgage Center
  image: "/img/rmc_logo.jpg"
  website: https://myrmcloan.com/
  description: ''
  featured: false
- title: Diego's Bar & Night Club
  image: "/img/diegos_logo.jpg"
  website: https://diegosbarnightclub.com/
  description: ''
  featured: false
- title: Purple Parrot
  image: "/img/purple_parrot.png"
  website: http://www.ppgrill.com/
  description: ''
  featured: false
- title: SWEAT DC
  image: "/img/sweat_dc.gif"
  website: https://sweatdc.com/
  description: ''
  featured: false
- title: The Dirty Goose
  image: "/img/tdg_black_rainbow.png"
  website: https://thedirtygoosedc.com/
  description: Located in the heart of DC’s U-Street Corridor, The Dirty Goose Bar
    embodies the energy of New York City with the laid-back atmosphere of Atlanta.
    Come enjoy our premium craft cocktails, martinis, and great company.
  featured: true
reasons:
  title: Why Sponsor The League?
  items:
  - Sponsorship will help get your business in the eyes of a very loyal group of people.
  - The league creates a sense of community for the players. Networking and socializing
    off the field is a core part of why many players joined the league, which means
    we are always looking for reasons and places to get together.
  - This is where you come in. Whether it’s having a team dinner or watching our favorite
    sports, we’re loyal to our sponsors and eager to show our appreciation for the
    businesses that support us.
  - In addition, we attract a fairly robust set of spectators and friends who will
    not only see your logo throughout the season, but also join us for post-game celebrations.
  - All sponsorships are tax deductible. We are a registered 501(c)(3).
  - Finally, many players comment on how the league enriches their lives and creates
    a desired sense of community. By sponsoring the league, you help make people happier.
    And that’s some good karma any day!
  button:
    text: Become a sponsor
    link: "#sponsor-form"

---
<section id="reasons-section">
  <div class="inner-section">
    <h2 class="reasons-title">{{ page.reasons.title }}</h2>
    <div class="reasons-list">
      {% for reason in page.reasons.items %}
      <div class="reason-col">
        <div class="reason">
          {{ reason }}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="cta">
      <a href="{{ page.reasons.button.link }}" class="btn">{{ page.reasons.button.text }}</a>
    </div>
  </div>
</section>
{% include sponsors-section.html %}