---
title: Sponsors
permalink: "/sponsors/"
content-id: sponsors-page
css: sponsors
slick: true
form-success: Thank you for your interest in sponsoring the DCGFFL. Someone from the
  league's board will follow up with you soon.
sponsors:
- title: The Dirty Goose
  image: "/img/tdg_black_rainbow.png"
  website: https://thedirtygoosedc.com/
  description: Located in the heart of DC’s U-Street Corridor, The Dirty Goose Bar
    embodies the energy of New York City with the laid-back atmosphere of Atlanta.
    Come enjoy our premium craft cocktails, martinis, and great company.
  featured: true
- title: Kiki
  image: "/img/kiki-final.png"
  website: https://www.dcwannahaveakiki.com/
  description: A new LGBTQ+ Bar in the Shaw Neighborhood of Washington, DC
  featured: true
- title: Pitchers
  image: "/img/pitchers.png"
  website: https://www.pitchersbardc.com/
  description: Desribed as a "bar for everyone," by owner David Perruzza, Pitcher's
    is a gay sports bar in the heart of Adams Morgan.The 10,000+ square foot building
    features plenty of flat screens for sports fans, darts, video games, a lesbian
    bar, and two spacious patios. Furthermore, A League of Her Own provides DC's queer
    women a long-deserved space of their own.
  featured: false
- title: Residential Mortgage Center
  image: "/img/rmc_logo.jpg"
  website: https://myrmcloan.com/
  description: ''
  featured: false
- title: Baan Siam
  image: "/img/baan_siam_logo.jpg"
  website: https://www.baansiamdc.com/
  description: ''
  featured: false
- title: Barkada Wine Bar
  image: "/img/barkada_logo.PNG"
  website: https://www.barkadawinebar.com/
  description: ''
  featured: false
- title: R&R Health and Wellness
  image: "/img/logo-r-r-final-tsprnt.png"
  website: https://www.rrhealthandwellness.com/
  description: ''
  featured: false
- title: Yard House Brewery
  image: "/img/yard-house.png"
  website: https://www.yardhouse.com/home
  description: ''
  featured: false
- title: Diego's Bar & Night Club
  image: "/img/diegos_logo.jpg"
  website: https://diegosbarnightclub.com/
  description: ''
  featured: false
- title: Purple Parrot
  image: "/img/purple_parrot.png"
  website: http://www.ppgrill.com/
  description: ''
  featured: false
reasons:
  title: Why Sponsor The League?
  items:
  - Sponsorship will help get your business in the eyes of a very loyal group of people.
  - The league creates a sense of community for the players. Networking and socializing
    off the field is a core part of why many players joined the league, which means
    we are always looking for reasons and places to get together.
  - This is where you come in. Whether it’s having a team dinner or watching our favorite
    sports, we’re loyal to our sponsors and eager to show our appreciation for the
    businesses that support us.
  - In addition, we attract a fairly robust set of spectators and friends who will
    not only see your logo throughout the season, but also join us for post-game celebrations.
  - All sponsorships are tax deductible. We are a registered 501(c)(3).
  - Finally, many players comment on how the league enriches their lives and creates
    a desired sense of community. By sponsoring the league, you help make people happier.
    And that’s some good karma any day!
  button:
    text: Become a sponsor
    link: "#sponsor-form"

---
<section id="reasons-section">
  <div class="inner-section">
    <h2 class="reasons-title">{{ page.reasons.title }}</h2>
    <div class="reasons-list">
      {% for reason in page.reasons.items %}
      <div class="reason-col">
        <div class="reason">
          {{ reason }}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="cta">
      <a href="{{ page.reasons.button.link }}" class="btn">{{ page.reasons.button.text }}</a>
    </div>
  </div>
</section>
{% include sponsors-section.html %}