---
_enabled_editors:
  - data
_inputs:
  $.season:
    type: number
  $.week:
    type: number
  $.rules.items:
    type: array
    options:
      structures: _structures.items-1
  $.schedule.no-games:
    type: markdown
title: Women's+ Division
permalink: /womensplus-division/
css: rec-league
content-id: rec-league-home
season: 4
week: 7
scripts:
  - rules
scoreboard:
  no-scores: There are no scores for this season at the moment.
schedule:
  title: This week's games
  no-games: No games scheduled.
hero:
  title: Women's+ Division
  text:
  image: /img/52762629292-5a508f25a3-c.jpg
  button:
    text: Register
    link: '#register-section'
    visible: false
register:
  title: Register
  text: 'Registration for Fall 2023 Women''s+ Division is now CLOSED! '
  button:
    text: REGISTER HERE!
    link: https://forms.gle/rPfWqTBwVTBfm6Yn7
    visible: false
rules:
  title: Rules & Policies
  items: []
playoffs:
  title: Playoffs
  text:
  button:
    text: View bracket
    link: /recreation-league/playoffs/
  visible: false
---
{% include hero.html %}
{% include scoreboard-feed.html games=site.rec-games teams=site.rec-teams scoreboard='/recreation-league/score-board/' %}
{% include playoffs.html %}
{% include schedule-feed.html games=site.rec-games teams=site.rec-teams schedule-link="/recreation-league/schedule/" %}
{% include teams.html teams=site.rec-teams %}
{% include registration.html %}
<section id="rules-section">
  <div class="inner-section">
    <h2>{{ page.rules.title }}</h2>
    <div class="rules-list">
      {% for rule in page.rules.items %}
      <div class="rule">
        <div class="rule-title">
          <h4 class="title-text">{{ rule.title }}</h4>
          <div class="rule-toggle">
            <i class="fa fa-chevron-down"></i>
          </div>
        </div>
        <div class="rule-text">
          {{ rule.text | markdownify }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>