
<section id="title-section">
  <div class="inner-section">
    <h1 class="page-title">{{ page.title }}</h1>
  </div>
</section>
<section id="scores-section">
  <div class="inner-section">
    {% assign games = include.games %}
    {% assign teams = include.teams %}
    {% assign league = site.pages | where: "path", include.league | first %}
    {% assign last-week = league.week | minus: 1 %}
    {% if last-week == 0 %}
    {% assign last-week = 1 %}
    {% endif %}
    {% assign all-games = games | sort: date | reverse | where_exp: "item", "item.teams-score[0].score.size > 0" | %}
    {% assign current-games = all-games | where: "season", league.season | where: "week", last-week %}
    
    
    <div class="upcoming-games">
      
      <h2 class="week-title">Season {{ league.season}} Week {{last-week}}</h2>
      <div class="games-list">
        {% if current-games.size == 0 %}
        <!-- no scores -->
        <div class="no-scores ">
          {{ league.scoreboard.no-scores }}
        </div>
        {% endif %}
        {% for game in all-games %}
        
        {% unless game.week == last-week and game.season == league.season %}
          {% assign display = 'hidden' %}
        {% endunless %}
        
        
        
        <div class="game {{ display }}" data-week="Season {{ game.season}} Week {{ game.week}}" >
          <div class="teams">
            <div class="matchup">
              <div class="team-score">
                {% assign team1 = teams | where: "path", game.teams-score[0].team | first %}
                <div class="team">
                  <a href="{{ team1.url }}">
                    <h3 class="team-name">
                    {% if team1.name and team1.name != '' %}
                      {{ team1.name }}
                    {% else %}
                      {{ team1.color }}
                    {% endif %}
                    </h3>
                    {% if team1.name and team1.name != '' %}
                    <h4 class="team-color">{{ team1.color  }}</h4>
                    {% endif %}
                  </a>  
                </div>
                
                {% if game.teams-score[0].score and game.teams-score[0].score != '' %}
                <h4 class="score {% if game.teams-score[0].score > game.teams-score[1].score%}winner{% endif %}">{{ game.teams-score[0].score }}</h4>
                {% endif %}
              </div>
              <div class="versus">
                <div class="game-date-time">
                  <div class="game-date">{{ game.date | date: "%A %-m/%-d/%y" }}</div>
                  <div class="game-time">{{ game.date | date: "%l:%M %p" }}</div>
                </div>
                <div class="field-info">
                  {% assign location = site.locations | where: "path", game.location | first %}
                  <a href="https://www.google.com/maps?q={{ location.address | url_encode }}+{{ location.city | url_encode }}+{{ location.state | url_encode }}+{{ location.zip | url_encode }}"><i class="fa fa-map-marker-alt"></i> {{ location.title }}</a>
                  <div class="field">Field {{ game.field }}</div>
                  
                </div>
              </div>
              <div class="team-score">
                {% assign team2 = teams | where: "path", game.teams-score[1].team | first %}
                <div class="team">
                  <a href="{{ team2.url }}">
                    <h3 class="team-name">
                    {% if team2.name and team2.name != '' %}
                      {{ team2.name }}
                    {% else %}
                      {{ team2.color }}
                    {% endif %}
                    </h3>
                    {% if team2.name and team2.name != '' %}
                    <h4 class="team-color">
                      {{ team2.color }}
                    </h4>
                    {% endif %}
                  </a>  
                </div>
                {% if game.teams-score[1].score and game.teams-score[1].score != '' %}
                <h4 class="score {% if game.teams-score[1].score > game.teams-score[0].score%}winner{% endif %}">{{ game.teams-score[1].score }}</h4>
                {% endif %}
              </div>
            </div>
            <div class="highlights">
              <h5>Highlights</h5>
              <div class="highlight"><b>MVP:</b> {{ game.mvp}}</div>
              <div class="highlight"><b>Gameball:</b> {{ game.game-ball }}</div>
              <div class="highlight"><b>Sportsperson:</b> {{ game.sportsperson }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="games-archive">
      
      {% assign divisions = teams | where: "season", league.season | group_by: 'division' %}
      {% assign season-games = games | where: "season", league.season %}
      <div class="rankings {% if divisions.size == 0 %}hidden{% endif %}">
        <h3>Season {{ league.season }} Records</h3>
        
        {% for division in divisions %}
        <div class="division">
          <h4>{{ division.name }}</h4>
          <div class="key">
            <div class="key-col">Team</div>
            <div class="key-col record">W - L - T</div>
          </div>
          <div class="conf-teams">
            {% for team in division.items %}
            <div class="team">
              <a class="team-name" href="{{ team.url }}">
              {% if team.name and team.name != "" %}
              {{ team.name }}
              {% else %}
              {{ team.color }}
              {% endif %}
              </a>
              <div class="team-record">
                {% assign wins = 0 %}
                {% assign losses = 0 %}
                {% assign ties = 0 %}
                {% for game in season-games %}
                  {% if game.teams-score[0].score > game.teams-score[1].score and game.teams-score[0].team == team.path  %}
                  {% assign wins = wins | plus: 1 %}
                  {% endif %}

                  {% if game.teams-score[0].score < game.teams-score[1].score and game.teams-score[0].team == team.path  %}
                  {% assign losses = losses | plus: 1 %}
                  {% endif %}

                  {% if game.teams-score[1].score > game.teams-score[0].score and game.teams-score[1].team == team.path  %}
                  {% assign wins = wins | plus: 1 %}
                  {% endif %}

                  {% if game.teams-score[1].score < game.teams-score[0].score and game.teams-score[1].team == team.path  %}
                  {% assign losses = losses | plus: 1 %}
                  {% endif %}
                  {% if game.teams-score[0].score.size > 0 %}
                    {% if game.teams-score[0].score == game.teams-score[1].score and game.teams-score[0].team == team.path  %}
                    {% assign ties = ties | plus: 1 %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
                <span class="wins">{{ wins }}</span> - <span class="losses">{{ losses }}</span> - <span class="losses">{{ ties }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
          
        {% endfor %}
      </div>
      {% assign seasons = games | group_by: "season" | reverse %}

      <div class="seasons">
        <h3>All Scores</h3>
        
        {% for season in seasons %}
        
        <div class="season">
          <h4 href="#" class="season-title">Season {{ season.name }}</h4>
          <div class="season-weeks">
            {% assign weeks = "" | split: "" %}
            <!-- {{ season.items }} -->
            {% for item in season.items %}
            <!-- {{ item }} -->
            {% assign weeks = weeks | push: item.week | uniq %}
            {% endfor %}
            
            {% for week in weeks %}
            
            
            <div class="week">
              <a href="#" class="week-link" data-week="Season {{ season.name }} Week {{ week }}">Week {{ week }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>