<section id="scoreboard-section">

  {% assign gamesArr = include.games %}
  
  {% assign teamsArr = include.teams %}
  {% assign games = gamesArr | reverse | group_by: 'season' | first %}
  {% assign recent-games = games.items | where_exp: "item","item.teams-score[0].score.size > 0" %}
  <div class="scoreboard-feed">
    {% for game in recent-games %}
    <div class="game-slide">
      <div class="game">
        <div class="date-col">
          <a href="/score-board/?week=Season%20{{ game.season }}%20Week%20{{game.week}}">
          <h6 class="game-date">{{ game.date | date: '%-m/%-e'}}</h6>
          <h6 class="game-time">{{ game.date | date: '%l:%M%P' }}</h6>
          </a>
        </div>
        <div class="scores-col">
          {% assign topscore = game.teams-score | sort: 'score' | reverse | first %}
          {% for item in game.teams-score %}
          <div class="team-row {% if item.score == topscore.score %}winner{% endif %}">
            <div class="team">
              {% for team in teamsArr %}
              {% if team.path == item.team %}
              <a href="{{ team.url }}">{{ team.color }}</a>
              {% endif %}
              {% endfor %} 
            </div>
            <div class="score">
              {% if item.score.size > 0 %}
              {{ item.score }}
              {% else %}
              --
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="btn-row">
    <a class="btn" href="/score-board/">Scoreboard</a>
  </div>
</section>