---
layout: default
---
<section id="about-section">
  <div class="inner-section">
    <h1 class="section-title">{{ page.title }}</h1>
    {{ content }}
  </div>
</section>
<section id="locations-section">
  <div class="inner-section">
    <h2 class="section-title">{{ page.locations.title }}</h2>
    <div class="locations-list">
      {% for location in site.locations %}
      <div class="location-col">
        <div class="location">
          <h4 class="location-title">{{ location.title }}</h4>
          <div class="location-map">
            <iframe src="https://maps.google.com/maps?q={{ location.address | url_encode }}+{{ location.city | url_encode }}+{{ location.state | url_encode }}+{{ location.zip | url_encode }}&output=embed" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="location-info">
            {{ location.info | markdownify }}
          </div>
          <div class="location-addr">
            <div class="addr-line1">
              {{ location.address }}
            </div>
            <div class="addr-line2">
              {{ location.city }}, {{ location.state }} {{ location.zip }}
            </div>
          </div>
          <div class="location-link">
            <a href="{{ location.map-link }}">Get Directions <i class="fa fa-map-marker-alt"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
