---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% if site.gtm %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <!-- Nav -->
    {% include nav.html %}
    {% if layout.content-id %}
    {% assign content-id = layout.content-id %}
    {% endif %}
    {% if page.content-id %}
    {% assign content-id = page.content-id %}
    {% endif %}
    
    <!-- Page Content -->
    <main id="{{ content-id }}">
    {% if menu.announcement.show == true %}
    <div class="announcement-topbar hidden">
        <div class="announcement-content">
        {{ menu.announcement.text | markdownify }}
        </div>
        <div class="close-announcement">&times;</div>
    </div>
    {% endif %}    
    {{ content }}
    </main>
    <!-- Footer -->
    {% include footer.html %}
    <!-- Scripts -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% if page.slick == true or layout.slick == true or page.content contains 'id="scoreboard-section"' %}
    <!-- Slick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
    {% endif %}
    {% if page.share == true or layout.share == true %}
    <!-- Twitter Web Intent  -->
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <!-- Facebook UI -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId            : '227787841708160',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v11.0'
            });
        };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    {% endif %}
    <!-- Sitewide scripts  -->
    {%- capture sitewide-js -%}
        /js/min/site_functions.min.js?{{site.time | date: '%s'}}
    {%- endcapture -%}
	<script src="{{ sitewide-js | relative_url }}"></script>
    <!-- Layout -->
    {% if layout.scripts %}
    {% for script in layout.scripts %}
    {% capture script-path %}/js/min/{{ script }}.min.js?{{site.time | date: '%s'}}{% endcapture %}
    <script src="{{ script-path | relative_url }}"></script>
    {% endfor %}
    {% endif %}
    <!-- Page -->
    {% if page.scripts %}
    {% for script in page.scripts %}
    {% capture script-path %}/js/min/{{ script }}.min.js?{{site.time | date: '%s'}}{% endcapture %}
    <script src="{{ script-path | relative_url }}"></script>
    {% endfor %}
    {% endif %}
    <!-- End Scripts -->
</body>
</html>
