---
layout: default   
---
<section>
  <div class="inner-section">
    <div class="rounds-list">
      {% for round in page.rounds %}
      <div class="round">
        <h2 class="round-title">{{ round.title }}</h2>
        {% assign divisions = round.games | group_by: 'division' %}
        {% for division in divisions %}
        <h3 class="division-title">{{ division.name }}</h3>
          {% for game in division.items %}
          <div class="game">
            
          </div>
          {% endfor %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>