---
layout: default   
---
<section>
  <div class="inner-section">
    <div class="rounds-list">
      {% for round in page.rounds %}
      <div class="round">
        <h2 class="round-title">{{ round.title }}</h2>
        {% for division in round.division %}
        <h3 class="division-title">{{ division.division }}</h3>
        <div class="game">
          {% for item in teams-score %}
          
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>