---
layout: default
css: team
content-id: team
---
<section id="team-hero">
  <div class="inner-section">
    <div class="team-photo-info">
      <div class="team-info">
        <h2 class="team-name">{{ page.name }}</h2>
        <h4 class="team-color">Season {{ page.season }} - {{ page.color }}</h4>
        <div class="team-leader">
          <h5>Quarterback</h4>
          {{ page.quarterback }}
        </div>
        <div class="team-leader">
          <h5>Captain</h4>
          {{ page.captain }}
        </div>
        <div class="roster">
          <h5>Roster</h5>
          {% for member in page.members %}
          <div>{{ member }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="team-photo">
      {% if page.photo and page.photo != '' %}
      <img src="{{ page.photo }}" class="team-photo-img" alt="{{ page.color }} team photo" />
      {% else %}
      <img src="{{ site.data.menu.logo }}" class="no-team-photo" alt="DCGFFL Logo" />
      
      {% endif %}
      </div>
      
    </div>
  </div>
</section>
<section id="team-info">
  <div class="inner-section">
    <div class="schedule">
      <h3>Schedule</h3>
      <div class="games-list">
        {% assign wins = 0 %}
      {% assign losses = 0 %}
      {% for game in site.games %}
      {% if game.teams-score[0].team contains page.path or game.teams-score[1].team contains page.path %}
      <div class="game">
        {% for score in game.teams-score %}
          {% if score.team == page.path %}
            <div class="game-date">{{ game.date | date: "%-m/%-e %l:%M%p "  }}</div>
            <div class="game-location">
              <a class="location-link" href="{{ game.location.link }}">{{ game.location.title }} <i class="fa fa-map-marker-alt"></i></a>
              <div class="field">Field: {{ game.location.field }}</div>
            </div>
            {% assign opponent = game.teams-score | where_exp: "item", "item.team != page.path"  %}
            {% assign opponent-name = site.teams | where: "path", opponent[0].team %}
            <a class="game-opp" href="{{ opponent-name[0].url }}">
            {% if opponent-name[0].name and opponent-name[0].name != '' %}
            vs {{ opponent-name[0].name }}
            {% else %}
            vs {{ opponent-name[0].color }}
            {% endif %}
            </a>
            <div class="game-result">
              <div class="win-loss">
                {% if score.score > opponent[0].score %}
                {% assign wins = wins | plus: 1 %}
                <span class="win">W</span>
                {% elsif score.score < opponent[0].score %}
                {% assign losses = losses | plus: 1 %}
                <span class="loss">L</span>
                {% elsif score.score == opponent[0].score %}
                <span class="tie">T</span>
                {% endif %}
              </div>
              <div class="score">
                {{ score.score }} - {{ opponent[0].score }}
              </div>
            </div>
          {% endif %} 
        {% endfor %}
      </div>
      {% endif %}  
      {% endfor %}
      </div>
      
    </div>
    <div class="records">
      <h3>{{ page.division }} Division</h3>
      
      {% for team in site.teams %}
      {% if page.division == team.division and page.season == team.season %}
      {% if team.name and team.name != ''%}
        {% assign team-name = team.name %}
      {% else %}
        {% assign team-name = team.color %}
      {% endif %}
      {% if page.name and page.name != '' %}
        {% assign page-name = page.name %}
      {% else %}
        {% assign page-name = page.color %}
      {% endif %}
      <div class="team {% if team-name == page-name %}active{% endif %}">
        <a class="team-name" href="{{team.url}}">
          {{ team-name }} 
        </a>
        <div class="team-record">
          {{ wins }} - {{ losses }}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
